@font-face {
        font-family: "PT Sans";
        src: url('../font/11505127-pt-sans.regular.eot');
        src: url('../font/11505127-pt-sans.regular.eot?#iefix') format('embedded-opentype'),
        url('../font/11505127-pt-sans.regular.svg#PT Sans') format('svg'),
        url('../font/11505127-pt-sans.regular.woff') format('woff'),
        url('../font/11505127-pt-sans.regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
	@font-face {
        font-family: "PT Sans";
        src: url('../font/802276612-PTS75F.eot');
        src: url('../font/802276612-PTS75F.eot?#iefix') format('embedded-opentype'),
        url('../font/802276612-PTS75F.svg#PT Sans') format('svg'),
        url('../font/802276612-PTS75F.woff') format('woff'),
        url('../font/802276612-PTS75F.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
@font-face {
        font-family: "PT Sans";
        src: url('../font/403991700-pt-sans.bold.eot');
        src: url('../font/403991700-pt-sans.bold.eot?#iefix') format('embedded-opentype'),
        url('../font/403991700-pt-sans.bold.svg#PT Sans') format('svg'),
        url('../font/403991700-pt-sans.bold.woff') format('woff'),
        url('../font/403991700-pt-sans.bold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }