@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
.theam_color{color:#f79411;}
.text_white{color:#fff;}
img{border:0px;}
body{background:#fafafa; font-family:'Open Sans';}
.body_container{margin:0px 2.5%;}

.body_bg{background:url(../images/body_bg.jpg) repeat-x 0px 0px; width:100%; height:auto;}
.inner_bg{background:url(../images/inner_header_bg.jpg) repeat-x center 0;}
.navbar-brand{height:auto;}


/****** default css codo STARTS************/
.pdding_none{padding:0px;}
.padding_left{padding-left:0px;}
.padding_right{padding-right:0px !important;}
.margin_bottom{margin-bottom:0px;}
.nav_padding{padding:5px 0px 0px 0px;}
.margin{margin:0px;}
.background_none{background:none !important;}
.row_col{margin:0px 5%;}
.hedding_tow{font-weight:700; color:#000; font-family:'PT Sans'; font-size:26px; padding:20px 0px 10px 0px;}
.hedding_three{font-weight:700; color:#000; font-family:'PT Sans'; font-size:18px; padding:0px 0px 5px 0px; margin:0px;}
.pdding_right p{line-height:16px;}
.espesar{margin:19px 0px; float:left; width:100%;}

/****** default css codo END ************/

/*HEADER CODE START HERE*/
header{display:block; background:url(img/header_top_bg.jpg) repeat center 0; height:auto; min-height:88px;}
header .become_producer_header{display:block; background:url(img/become_producer_header.jpg) repeat center 0; height:auto; min-height:88px;}
header .how_it_work_header{display:block; background:url(img/howt_it_work_header.jpg) repeat center 0; height:auto; min-height:88px;}
.orange_header{width:1024px; min-height:50px; margin:auto; padding:25px 0px 0px;}
.orange_header .logo{float:left; width:220px;}
.logo{margin-top:30px;}
.orange_header .nav_panel{float:right; width:780px; margin-top:15px;}
.nav_panel_button{min-height:25px; float:left;}
.nav_panel_button ul{margin:0px; padding:0px; list-style-type:none;}
.nav_panel_button ul li{margin:0px; padding:0px; display:inline;}
.nav_panel_button ul li a{margin:0px; padding:5px 20px; display:block; float:left; font-size:15px; background:url(img/button_right_icons.png) no-repeat right center; color:#fff; text-decoration:none;}
.nav_panel_button ul li a:hover, .nav_panel_button ul li a.for_active{color:#fdc21a; background:url(img/button_right_icons_hover.png) no-repeat right center;}
.nav_panel_login{float:right; margin-top:5px;}
.nav_panel_login a{background:#f79411; padding:5px 15px; color:#fff; text-decoration:none; font-size:15px; font-weight:700; 
border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px;-webkit-border-radius:5px;}
.nav_panel_login a:hover{background:#ff9c20;}
.review_colapse{background:none!important; border:none!important;}
.review_li{ margin:0px; padding:0px;}
.review_li li{list-style-type:none; float:left;}
.review_li li a{text-decoration:none; color:#000!important; padding:4px 15px!important;}
.review_li li a .last{border:1px solid #fff!important; }
.revlast{ border:none!important;}
.navbar-default .navbar-nav > li > a .last{border:none; border-right:none; border-left:none;}
.revinav_cain{background:none!important; border:none!important; overflow:visible!important;}
.or_navig{z-index:9999!important; position:relative; top:0px;}
.revcearch{position:relative; top:0px; z-index:9999; padding-right:3%;}
.stage{ position:relative; top:0px;}
.review_li li.active a{background:none !important;}
.registration_container{background:#fff; border:1px solid #e5e6e7; border-radius:6px; -moz-border-radius:6px; -ms-border-radius:6px; -o-border-radius:6px; -webkit-border-radius:6px; margin:5% 0px 6%; padding:28px 110px 20px;}
.input_fild{background:#fafafa; height:53px; margin:8px 0px; border:1px solid #eaedef; box-shadow:none;}
.nav > li > a:hover, .nav > li > a:focus{background:none !important;}
a:focus{outline:none;}

 /* TOP SIGNIN CSS STARTS------------------------*/
.top_search{margin-right:35px;}
.search_box{border:none; border-radius:5px 0px 0px 5px !important; height:28px;}
.search_icon{border:none; border-radius:0px 5px 5px 0px !important; height:28px; border-right:1px solid #ccc; padding:6px 2px; background:#f15922; color:#fff;} 
.zoom{color:#FFFFFF;}
.search_padding{padding:35px 0px 0px;}
.signin_col{padding:6px 0 0 30px; color:#000000; font-family:'Open Sans'; font-size:13px;}
.signin_col:hover, .signin_col:focus{ color:#000000; text-decoration:none;}
.text_p{color:#0e0e0e; font-family:'Open Sans'; font-size:12px; padding:7px 0px 0px 0px; margin:0px;}
.text_p a{color:#00417d; text-decoration:underline;}
.text_p a:hover{text-decoration:none;}
 /* TOP SIGNIN CSS ENDS------------------------*/


 /*top navbor css------------------*/
.navbar-nav li{background:url(../images/top_nav_border.png) no-repeat right center;}
.navbar-nav li a{color:#101010; font-size:16px; font-family:'Open Sans'; padding-left:25px; padding-right:25px;}
.navbar-nav li a:hover{background:none;}
.navbar-nav li.last{ background:none;}
.navbar-nav li.last a{padding-right:0px !important;}

 /*top slider bar css-----------------*/
.slider_container{background:#fff; border-radius:16px; -moz-border-radius:16px; -o-border-radius:16px; -ms-border-radius:16px; -webkit-border-radius:16px; margin:0px 20px 40px 20px; box-shadow:0 0px 1px #878787; -moz-box-shadow:0 0px 1px #878787; -ms-box-shadow:0 0px 1px #878787; -o-box-shadow:0 0px 1px #878787; -webkit-box-shadow:0 0px 1px #878787; padding:30px 30px 9%; overflow:hidden;}
.theme_color{color:#042e6f; font-family:'Open Sans'; font-size:30px; margin-bottom:0px; margin-left:-2px; padding:0px 0px 8px 0px; font-weight:700;}
.theme_color_inner{color:#3c3c3c; font-family:'Open Sans'; font-size:24px; margin-bottom:0px; margin-left:-2px; padding:0px 0px 8px 0px;}
.p_text{padding:0px 0px 14px 15px; color:#737380;}
.label_text{color:#000; font-family:'Open Sans'; font-size:16px; font-weight:normal;}
.btn_search{background:#f15922; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px; box-shadow:0 1px 2px #8c8c8c; font-family:'Open Sans'; font-size:18px;  text-transform:uppercase; padding-left:15%; padding-right:15%; margin-top:29px; margin-bottom:8%;}
.inner_btn{background:#f15922; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px; box-shadow:0 1px 2px #8c8c8c; font-family:'Open Sans'; font-size:16px;  text-transform:uppercase; padding-left:10%; padding-right:10%; margin-top:29px; margin-bottom:8%;}
.btn_search:hover{background:#f15922;}
.center_slider{margin-left:23%; width:52%; margin-left:30%; margin-top:4%;}
.left_arrow{top:50%; text-shadow:none; opacity:1.0; left:45px !important;}
.left_arrow i{font-size:50px; color:#a5a5a5;}
.right_arrow{top:50%; opacity:1.0; text-shadow:none; right:-28px !important;}
.right_arrow i{font-size:50px; color:#a5a5a5;}
.slider_bg_main{width:100%; height:100%; position:absolute; top:-11.3%; left:20.2%; }
.slider_bg_main img{width:66.3%;}
.slider_offer_bg{left:27%; position:absolute; top:-5%; z-index:999999999; width:35%;}
.slider_offer_bg img{width:66.3%;}

/**** RIGHT CSS STARTS ----------------*/
.right_nav{width:85.5%;}
.right_nav li{border-bottom:1px solid #ececec; margin:10px 0px; padding-bottom:5px;}
.right_nav li a{padding:0px 0px 0px 12px; font-size:13px; color:#ff6600; font-family:'Open Sans';}
.right_nav li.last{border:none;}
.viewall {widht:100%; text-align:right; margin:20px 0px 40px;}
.viewall a{font-size:12px; color:#000; font-family:'Open Sans'; text-decoration:underline;}
.viewall a:hover{color:#ff6600; text-decoration:none;}

/**** LOGIN LEFT BOX CSS STARTS ----------------*/
.login_left_box{padding:30px 29px;}
.login_left_box p{color:#737380; font-family:'Open Sans'; line-height:19px; font-size:13px; padding:0px 0px 6px;}
.login_left_box h3.hedding_three{color:#2e2e2e; font-family:'Open Sans'; font-size:18px; padding:20px 0px 18px; font-weight:normal;}

/**** RIGHT BOX CSS STARTS ----------------*/
.login_right_box{background:#fff; box-shadow:0px 0px 5px #dcdbdb inset; border:1px solid #e5e6e7; padding:25px 25px 50px; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px;}
.login_right_box .login_account{background:#e2e2e2 url(../images/login_account_icon.png) no-repeat 8px 8px; color:#282828; font-family:'Open Sans'; font-size:22px; padding:20px 0px 18px 65px; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px; margin-bottom:30px;}
.chechbox_text span{color:#737380; font-family:'Open Sans'; font-size:13px; padding:0px 0px 0px 0px; float:left; margin-top:-3px;}
.chechbox_text input.chechbox_remember{float:left; margin:0 10px 0 0;}
.forgot_password{color:#3885ce; font-family:'Open Sans'; font-size:13px; padding:0px 0px 0px 0px; margin-top:-3px;}
.or_divider img{padding:31px 4px; display:inline;}
.or_divider{float:left; width:100%; text-align:center;}


/*** NAVBAR TOGGLE CSS STARTS --------------------*/
.navbar-default .navbar-toggle{border-color:#101010;}
.navbar-toggle{background:#101010;}
.navbar-toggle .icon-bar{background-color:#fff;}
.navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background-color:#050505;}

/** SUPPLIER ACCOUNT PAGE CSS STARTS --------------------*/
.account_container{padding:40px;}
.widget {border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px; -webkit-border-radius:2px; margin-bottom:10px; margin-top:10px; padding:45px 15px;}
.widget i.fa{font-size:78px;}
.account-bg {background-color:#05869b; color:#ffffff;}
.payment-bg {background-color:#79b900; color:#ffffff;}
.order-bg {background-color:#246cdb; color:#ffffff;}
.ad-booking-bg {background-color:#d34f2d; color:#ffffff;}
.gallery-manager-bg {background-color:#bc3dfd; color:#ffffff;}
.feedback-center-bg {background-color:#9c9306; color:#ffffff;}
.artwork-manager-bg {background-color:#058918; color:#ffffff;}
.product-listing-bg {background-color:#7929fe; color:#ffffff;}
.widget span{color:#ffffff; font-family:'Open Sans'; font-size:18px;}
.input-lg, .form-horizontal .form-group-lg .form-control{font-size:14px; color:#c4c4c4; font-family:'Open Sans';}
.footer .col-md-2{width: 18.666%;}
.footer .col-lg-4{width:31%}




/** DASHBOARD CSS STARTS --------------------*/
.hedding_main{color:#383838; font-size:18px; margin:0px 0px 0px; padding:2% 0 5px; width:100%; font-family:'Open Sans'; font-weight:700;}
.dashboard_container{width:100%; height:auto; margin:2% 0px; padding:0px; position:relative; background:#fff; border:1px solid #e6e6e6; float:left;}

/** DASHBOARD LEFT CSS STARTS --------------------*/
.page-sidebar-fixed .sidebar{position:fixed;}
.sidebar{background:#f1f1f1; bottom:0; left:0; padding:10px 0px 50% 0px; position:relative; top:0; width:100%; z-index:10;}
.sidebar .nav > li.nav-profile {background:#2e3235; color:#fff; padding:20px;}
.sidebar .nav > li:after, .sidebar .nav > li:before, .sidebar .nav > li > a:after, .sidebar .nav > li > a:before {clear:both; content:""; display:table;}
.sidebar .nav > li.nav-header {color:#6d7983; font-size:11px; line-height:20px; margin:0; padding:10px 20px;}
.sidebar .nav > li.active > a, .sidebar .nav > li.active > a:focus, .sidebar .nav > li.active > a:hover {background:#f25822;
color:#fff;}
.sidebar .nav > li.has-sub a i.fa{font-size:25px; float:left;}
.sidebar .nav > li.has-sub a span{padding-left:10px}
.sidebar .nav > li > a {color:#4a4949; font-family:'Open Sans'; font-size:15px; line-height:20px; padding:12px 20px; margin:8px 0px; outline:none;}
.sidebar .nav > li.has-sub > a:hover{background:#f25822 !important; color:#fff;}
.sidebar .nav > li > a .caret {float:right; margin-top:9px;}

/** DASHBOARD RIGHT CSS STARTS --------------------*/
.dashboard_right_col{margin:5% 0;}
.dashboard_right_col h2.hedding_h2{color:#f25822; font-size:22px; margin:0px 0px 0px; padding:0px 0px 3%; float:left; width:100%;}
.dashboard_right_col h2.hedding_h2 i.fa{font-size:45px; float:left;}
.dashboard_right_col h2.hedding_h2 span{float:left; padding:1% 0px 0px 2%;}
.dashboard_right_col .left_td{color:#000000; font-family:'Open Sans'; font-size:15px;}
.dashboard_right_col .right_td{color:#a1a0a6; font-family:'Open Sans'; font-size:15px;}
.dashboard_right_col .pull_left_bg{padding:2% 0% 10%; border-right:1px solid #E0DFDF;} 
.dashboard_right_col .pull_right_bg{padding:2% 12%;} 
.dashboard_right_col .pull_left_bg h3.hedding_h3{margin-bottom:5px; text-align:center; color:#555555; font-size:18px; font-weight:700;}
.dashboard_right_col .pull_left_bg p.p_text{margin-bottom:0px; text-align:center; color:#555555;}
.dashboard_right_col .pull_left_bg form.form_payment label span{color:#555555; font-family:'Open Sans'; font-size:14px; padding-left:10px;}
.dashboard_right_col .pull_left_bg form.form_payment .row_control{margin:8% 17%; text-align:center;}
.dashboard_right_col .pull_left_bg form.form_payment .row_control select.select_option{background:#fafafa; border:1px solid #e9edf0; color:#555555; font-family:'Open Sans'; font-size:14px; border-radius:none; box-shadow:none; margin:8px 0px; height:45px;}
.dashboard_right_col .pull_left_bg form.form_payment .row_control button.select_option{background:#fafafa; border:1px solid #e9edf0; color:#555555; font-family:'Open Sans'; font-size:14px; border-radius:none; box-shadow:none; margin:8px 0px; height:45px;}
.input_fild_1 {background:#fafafa; border:1px solid #eaedef; box-shadow:none; height:45px; margin:8px 0; padding:10px 10px;}
.nav > li > a:hover, .nav > li > a:focus{background:none;}


/*PAYMENT CSS STARTS-------------------------*/ 
.dashboard_right_col .payment_col{padding:15px 0px;}
.dashboard_right_col .pull_left_bg h3.payment_h3{font-size:15px; color:#555454; padding-top:10%;}
.dashboard_right_col .pull_left_bg form.payment_col2{padding:2% 0; width:100%;}
.dashboard_right_col .pull_left_bg form.payment_col2 label.checkbox-inline{padding:0px; margin:0px;} 
.dashboard_right_col .pull_left_bg form.payment_col2 label.input_radio{width:100%; margin-top:45%;}
.dashboard_right_col .pull_left_bg form.form_payment label.label_text{color:#9a9ead; font-size:13px; font-family:'Open Sans'; margin-bottom:0px;
}
.select_option_1{background:#fafafa; border:1px solid #eaedef; box-shadow:none; height:45px; margin:8px 10px 0px 0px; padding:8px 10px; color:#5f5f61; font-size:14px; font-family:'Open Sans';}
.select_option_2{background:#fafafa; border:1px solid #eaedef; box-shadow:none; height:45px; margin:8px 10px 0px 0px; padding:8px 10px; width:150px; color:#5f5f61; font-size:14px; font-family:'Open Sans';}
.input_fild_2 {background:#fafafa; border:1px solid #eaedef; box-shadow:none; height:45px; margin:8px 0; padding:8px 10px; width:140px;}
.total_price{text-align:center; color:#595959; font-size:20px; font-family:'Open Sans'; font-weight:600; padding:7px; margin-right:20px; float:left;}
.btn_pay {margin-top:0px;}
.total_bg{float:left; width:100%; padding:5% 0px 0px 30%;}

/*ARTICLES CSS STARTS-------------------------*/ 
.articles_container{margin:0px 1%;}
.container_wrapper{background:#fff; border:1px solid #e5e6e7; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; margin:0% 0 6%; padding:22px;}
.posted_col{float:left; width:100%; border-bottom:1px solid #d3d3d3; margin-bottom:2%; padding-bottom:2%;}
.posted_col h2.col_h2{margin:0px; color:#1a1919; font-size:22px; font-family:'Open Sans'; padding:0 0 3px 1.5%;}
.posted_col .posted{padding:0 0 1% 1.5%; color:#1a1919; font-size:13px; font-family:'Open Sans';}
.posted_col .posted span{color:#545454;}
.posted_col .posted a{color:#f15922; text-decoration:none;}
.posted_col .posted a:hover{text-decoration:underline;}
.posted_col p.p_text{color:#414040; font-size:15px; line-height:26px; padding-bottom:0px;}
.posted_col .img_post img{border:1px solid #cdcccc; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px; width:100%;}
.posted_col a.readmore{color:#666666; font-size:13px; font-family:'Open Sans';}
.pagination li.page{float:left; padding:10px 15px 0px 0px;}
.pagination_nav > li > a, .pagination > li > span{ padding:10px 19px; color:#252424;}
.pagination_nav > li.active a{border:1px solid #f15922; background:#f15922;}
.pagination_nav > li.active a:hover{border:1px solid #f15922; background:#f15922;}


/*ARTICLES SINGLE CSS STARTS-------------------------*/ 
.article_leftbg{background:#fff; border:1px solid #e5e6e7; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; margin:0% 0 6%; padding:22px;}
.posted_col .media .img_post{margin-right:22px;}
.posted_col .media .img_post img{width:100%;}


/*COMMUNITY QUESTION ANSWER LISTING CSS STARTS-------------------------*/
.community_wrapper{background:#fff;  border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; margin:0 0 6%; padding:0; border:1px solid #e5e6e7;}
.community_wrapper .list-group-item{padding:0px 15px;}
.community_wrapper .list-group-item .item_community{padding:10px 15px; border-right:1px solid #d3d3d3; color:#000; font-size:14px; font-family:'Open Sans';}
.community_wrapper .list-group-item .item_community_header{padding:10px 15px; border-right:1px solid #d3d3d3; color:#fff; font-size:17px; font-family:'Open Sans';}
.community_wrapper .list-group-item .item_community_header.last{border:none;}
.community_wrapper .list-group-item .item_community.last{border:none;}
.community_wrapper .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{background-color:#f15922;
border-color:#f15922; color:#fff;}
.navbar-single{float:left; width:100%; border-top:1px solid #d3d3d3; border-bottom:1px solid #d3d3d3; margin:15px 0px; padding:0px;}
.navbar-single li{float:left; list-style:none; margin:0px; padding:6px 10px; color:#000000; font-size:13px; font-family:'Open Sans'; background:url(../images/border_community.jpg) no-repeat right center;}
.navbar-single li.last{background:none;}
.comment_box{padding:0px 0px 4% 0px;}
.comment_box h3.hedding_h3{margin:0px 0px 0px; font-size:21px; font-family:'Open Sans'; font-style:italic; color:#414040;}
h4.comment_h4{margin:2% 0px 2%; font-size:19px; font-family:'Open Sans'; color:#414040;}
h1.comment_h1{margin:3% 0px 4%; font-family:'Open Sans'; color:#414040;}
.comment_box span{margin:0px; font-size:13px; font-family:'Open Sans'; font-style:italic; color:#414040;}
.comment_box p.comment_p{margin:3% 0px 0px; font-size:16px; font-family:'Open Sans'; color:#414040;}
.post_mail{background:#fafafa; min-height:206px;}
.comment_btn {font-size:18px; padding-left:3%; padding-right:3%; height:50px;}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger{background-color:#f15922;
border-color:#ac2925; color:#fff;}
	
/*SEARCH HOME CSS STARTS-------------------------*/ 
.search_wrapper{margin:2% 0 0%; padding:22px;}
.input_fild {background:#fafafa; border:1px solid #eaedef; box-shadow:none; height:53px; margin:8px 0;}
.container_search{background:#fff; border:1px solid #e5e6e7; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; margin:0% 0 0%; padding:0px;}
.tab_container{padding:22px; border-top:1px solid #d3d7da; position:relative; z-index:99; margin-top:-1px;}
ul.tab_navbar{border:none; position:relative; z-index:99999;}
.nav-tabs > li > a{border:none; position:relative; z-index:99999;}
ul.tab_navbar li{float:left; position:relative; z-index:999999;}
ul.tab_navbar li a{padding:22px 65px; margin:0px; border-right:1px solid #d3d7da; border-radius:0px; color:#1a1919; font-size:18px; font-family:'Open Sans';}
ul.tab_navbar > li > a:hover, ul.tab_navbar > li > a:focus{background:#fff !important;  color:#f15922;}
ul.tab_navbar > li > a:hover{background:#fff !important; padding:22px 65px;}
ul.tab_navbar li.active a{padding:22px 65px 23px;  border-right:1px solid #d3d7da; border-radius:0px; color:#f15922; font-size:18px; font-family:'Open Sans'; background:#fff;}
.tab_posted h2.col_h2{margin-left:0px; padding-left:0px;}
.tab_posted .posted{padding-left:0px;}
.tab_posted .posted span{color:#a3a1a1;}
.tab_posted p.p_text{padding-left:0px; line-height:22px; padding-top:10px;}
.displaying {background:#f1f1f1; padding:10px;}
.displaying .display_results{color:#3a3939; font-family:'Open Sans'; padding:8px 0 0 10px;}
.displaying label.display_results{color:#3a3939; font-family:'Open Sans'; padding:8px 0 0 10px; font-size:14px;}
.article_innerbg .right_box{padding:18% 0 0 0; width:100%;}
.article_innerbg .right_box .col_1{height:auto; margin-bottom:5%;}
.form_group_bg{ margin:9% 0 0 0;}
ul.tab_navbar > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{color:#f15922;}
.nav > li.sub_nav > a:hover, .nav > li.sub_nav > a:focus{background:#f25822 !important; color:#fff;}

/*AD BOOKING MANAGER CSS STARTS-------------------------*/ 
.list_container .label_list{color:#555454; font-family:'Open Sans'; padding-top:20px; font-size:16px; font-weight:normal;}
.browse_btn{background:#8c8c8c; border-radius:0px; box-shadow:none; font-family:"Open Sans"; font-size:18px; margin-top:8px; padding:9px 14%;
text-transform:uppercase; border:none; }
.table_bord th span{color:#555454; font-family:'Open Sans'; font-size:18px;}

/*FEEDBOACK CENTER CSS STARTS-------------------------*/ 
.table_bord > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{padding:16px;}
.table_bord > thead > tr > th.th_text{color:#383838; font-family:"Open Sans"; font-size:18px; font-weight:normal;}
.table_bord > thead > tr > td, i.star{color:#f15922;}

/*GALLERY MANAGER CSS STARTS-------------------------*/
.table_view{border-right:none !important;}
.table_view a{color:#383838; font-family:"Open Sans"; font-size:14px; font-weight:normal; background:url(../images/gallery_border.png) no-repeat right center; padding:0 13px 0 8px;}
.table_view a:hover{color:#f15922;}
.table_view a.last{background:none;}
.gallery_bord{border:none; border-top:none !important; }
.gallery_bord > thead > tr > th.th_text{color:#383838; font-family:"Open Sans"; font-size:16px; font-weight:normal; border:none;}


/****** BODY CSS CODE ENDS ************/

/****** FOOTER CSS STARTS ******/
.footer_bg{background:#042e6f; color:#fff; width:100%; float:left;}
.footer{padding:43px 0px 0px 0px;}
.footer p{ font-size:18px; color:#b2b2b2; font-family:'Open Sans';}
.footer_row2{color:#b2b2b2; font-family:'Open Sans'; height:229px; width:auto; float:left;}
.footer_row p{border-bottom:1px solid #144289; width:auto; margin:0px; padding: 32px 0px 11px 0px; font-size:14px; font-family:'Open Sans'; color:#b2b2b2;}
.footer_row2 p{border-bottom:1px solid #144289; width:100%; margin:0px; padding: 32px 0px 11px 0px; font-size:14px; font-family:'Open Sans'; color:#b2b2b2;}
.footer_row .footr_rowleft{float:left; width:150px; margin-top:10px; }
.footer_row .footr_rowleft a{text-decoration:none; color:#b2b2b2; font-size:14px; font-family:'Open Sans'; float:left; width:100%;}
.footer_row .footr_rowright{float:left; margin-top:10px; width:100px;}
.footer_row .footr_rowright a{text-decoration:none; color:#b2b2b2; font-size:14px; font-family:'Open Sans'; float:left; width:100%;}
.footer_row2 .footr_rowleft{ float:left; width:14%; padding-right:0%; margin-top:10px;    }
.footer_row2 .footr_rowleft a{text-decoration:none; color:#b2b2b2; font-size:14px; font-family:'Open Sans'; float:left; width:100%;}
.footer_row2 .footr_rowright{float:left;  margin-top:10px; width:100px;}
.footer_row2 .footr_rowright a{width:100%; text-decoration:none; color:#b2b2b2; font-size:14px; font-family:'Open Sans';}
p.copyright{border-top:1px solid #144289; padding:10px 0px 20px 0px; margin-top:3%; text-align:center; font-size:13px; font-family:'Open Sans';}
.footer_row .footr_rowleft.footer_rest{float:left; width:22%; padding-right:0%; margin-top:10px;}
.navbar-collapse.in{overflow:hidden;}
.navbar-collapse{border-top:none; box-shadow:none;}

/*RESPONSIVE CSS STARTS ------------------*/
@media (min-width:768px){
.padding_left{padding-left:0px !important;}


}
@media (max-width:1024px){
.padding_left_col{padding-left:0px !important;}
.posted_col .col_lg_bg{width:25% !important;}
}
@media (min-width:768px) and (max-width:1024px) {
.search_padding{ padding:35px 0 0 !important;}
.duration{ text-align:left;}
.form_file .to{text-align:left;}
}
@media (min-width:800px) and (max-width:1024px) {
.registration_container {padding:10px 8px;}
.review_li{ padding:10px 0 0;}
.navbar-header{float:right;}
.navbar-nav li a{ padding-left:13px; padding-right:13px;}
.navbar-brand{ padding:8px 0px 0px 0px;}
.navbar-brand img{width:100%;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {line-height:1; width:100%;}
}
@media (min-width:800px) and (max-width:1280px) {
.navbar-brand{ padding:8px 0px 0px 0px;}
.navbar-brand img{width:100%;}
.slider_container{margin-bottom:120px;}	
.carousel-inner > .item > img, .carousel-inner > .item > a > img {line-height: 1; width:100%;}
.posted_col .col_lg_bg{width:23%;}
.comment_img{ width:14%;}
}

@media (min-width:980px) and (max-width:1200px) {
.registration_container {padding:10px 90px;}
.search_padding{ padding:42px 0 0;}
.review_li{ padding:10px 0 0;}
.navbar-header{float:right;}
.search_padding{padding:30px 0 0;}
.navbar-brand{ padding:8px 0px 0px 0px;}
.navbar-brand img{width:100%;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {line-height:1; width:100%;}
.padding_left{padding-left:15px;}
.padding_left_none{padding-left:0px;}
.posted_col{}

}

@media (min-width:640px) and (max-width:800px) {
.search_padding{ padding:35px 0 0;}
.registration_container {padding: 46px 8px;}
.review_li{ padding:10px 0 0;}
.navbar-header{float:right;}
.navbar-nav li a{ padding-left:13px; padding-right:13px;}
.navbar-brand{ padding:8px 0px 0px 0px;}
.navbar-brand img{width:100%;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {line-height:1; width:100%;}
.padding_left_col{padding-left:0px;}
.footer_row{ width:45%!important;}
.footor_row_2{height:390px;}
.posted_col{}
}

@media (min-width:480px) and (max-width:768px) {
.registration_container {padding:46px 8px;}
.navbar-collapse{ border:none; box-shadow:none;}
.search_padding{ padding:10px 0 0;}
.pull-right{padding-right:3%;}
.navbar-form{box-shadow:none;float:left; margin:0 0px; width:69%;}
.review_li	{width:100%; float:left; margin:0px 20px 20px;}
.navbar-collapse{width:100%; float:left; margin:0px 0px; overflow:hidden;}
.logo{ margin-top:5px;}
.navbar-brand{ padding:8px 0px 0px 0px;}
.navbar-brand img{width:100%;}
.navbar-nav li{ background:none;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {line-height:1; width:100%;}
.padding_left_col{padding-left:0px;}
.footer_row{ width:45%!important;  }
.footor_row_2{height:505px;}
.list_container .text-right{text-align:left;}
.form_file .padding_left{padding-left:15px;}
.form_file .padding_right{padding-right:15px !important;}
}
@media (min-width:320px) and (max-width:480px) {
.registration_container{padding:46px 8px;}
.search_padding{padding:2px 0 0;}
.review_li{width:100%; float:left; margin:0px 20px 20px;}
.navbar-collapse{width:100%; float:left; margin:0px 20px;}
.navbar-form{box-shadow:none; float:left; margin:0 0px; width:65%;}
.nav_border{ border:none; box-shadow:none; overflow-y:none; overflow:hidden;}
.forgot_password{float: left !important; padding-top:20px; text-align:left !important;}
.or_divider img {padding: 31px 12px;}
.btn_search{font-size:14px;}
.logo{ margin-top:10px;}
.footer_row_new{height:480px !important;}
.navbar-brand{ padding:8px 0px 0px 0px;}
.navbar-brand img{width:100%;}
.navbar-nav li{ background:none;}
.footer_row .footr_rowleft{ float:left; width:58%; margin-top:10px;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {line-height:1; width:100%;}
.right_arrow{right: -15px !important;}
.left_arrow{left: 15px !important;}
.footer .col-md-2 {width:48.666%;}
.padding_left_col{padding-left:0px;}
.footer_row{ width:45%!important;  }
.hedding_tow { color: #000; font-family: "Open Sans"; font-size: 26px; font-weight: 700; padding-bottom: 10px; padding-left: 11px; padding-right: 0; padding-top: 20px;}
.footor_row_2{height:505px;}
.inner_btn{font-size:100%;}
.navbar_goggle{margin-top:5%;}
.form_payment label.radio_inline{padding:0px;}
.dashboard_right_col .pull_left_bg form.form_payment .row_control{ margin-left:0px; margin-right:0px;}
.tab_container{margin-top:5%;}
ul.tab_navbar li{float:left !important; width:100%; border-bottom:1px solid #eee;}
.pull_right_sort{ float:left !important;}
.form_group_bg{ margin:3% !important;}
.article_innerbg .right_box{ width:100%;}
.article_innerbg .right_box .col_1{ padding:32% 0 0;}
.search_wrapper{ padding:0;}
.tab_container{ padding:22px 0 0 0}
.search_col{ padding:8px 15px;}
.select_option_2{width:136px;}
.list_container .text-right{text-align:left;}
.form_file .padding_left{padding-left:15px;}
.form_file .padding_right{padding-right:15px !important;}






@media (min-width:360px) and (max-width:640px) {
.navbar-brand{ padding:8px 0px 0px 0px;}
.navbar-brand img{width:100%;}
.navbar-form{ width:68%;}
.navbar-brand{ padding:8px 0px 0px 0px;}
.navbar-brand img{width:100%;}
.navbar-nav li{ background:none;}
.navbar-nav {margin-bottom:7.5px; margin-left:0; margin-right:-15px; margin-top:7.5px;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {line-height: 1; width: 100%;}
.footer .col-md-2{width:40%;}
.padding_left_col{padding-left:0px;}
.footer_row{ width:45%!important;  }
.hedding_tow { color: #000; font-family: "Open Sans"; font-size: 26px; font-weight: 700; padding-bottom: 10px; padding-left: 11px; padding-right: 0; padding-top: 20px;}
.footor_row_2{height:505px;}
.navbar_goggle{margin-top:3%;}
.search_col{ padding:8px 15px;}
.list_container .text-right{text-align:left;}
.form_file .padding_left{padding-left:15px;}
.form_file .padding_right{padding-right:15px !important;}
}
@media (min-width:280px) and (max-width:320px) {
.navbar-form{box-shadow:none; float:left; margin:0 0px; width:57%;}
.btn_group_new{padding-right:10px;}	
.nav_border{border:none; box-shadow:none; overflow-y:none; overflow:hidden; float:none !important;}
.forgot_password{float: left !important; padding-top:20px; text-align:left !important;}
.or_divider img {padding: 31px 12px;}
.btn_search{font-size:13px;}
.logo{ margin-top:25px;}
.footer_row_new{height:555px !important;}
.navbar-nav li{ background:none;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {line-height: 1; width: 100%;}
.padding_left_col{padding-left:0px;}
.footer_row{width:45%!important;  }
.hedding_tow {color:#000; font-family: "Open Sans"; font-size: 26px; font-weight: 700; padding-bottom: 10px; padding-left: 4.4%; padding-right: 0; padding-top: 20px;}
.footor_row_2{height:505px;}
.search_col{ padding:8px 15px;}
.list_container .text-right{text-align:left;}
.form_file .padding_left{padding-left:15px;}
.form_file .padding_right{padding-right:15px !important;}
}

@media screen and (-webkit-min-device-pixel-ratio:0)
 {
.win.chrome .footor_row_2{height:505px;}
.mac.gecko  .footor_row_2{height:505px;}
}


