<div class="swiper-slide trending-place-item">
                                    <div class="trending-img">
                                        <img src="https://www.agedadvisor.nz/admin/files/gallery/images/retirement-village-Princess-Alexandra-Retirement-Village-Ahuriri-Napier.jpg" alt="#">
                                        <span class="trending-rating-orange">' . $star_rating . '%</span>
                                        <span class="save-btn"><i class="icofont-heart"></i></span>
                                    </div>
                                    <div class="trending-title-box">
                                        <h4><a href="' . $datares["quick_url"] . '">' . $datares["title"] . '</a></h4>
                                        <div class="customer-review">
                                            <div class="rating-summary float-left">
                                                <div class="rating-result" title="' . $star_rating . '%">
                                                    <div class="star-inactive"><div class="star-active star-width-' . $star_rating . '" ></div></div>
                                                </div>
                                            </div>
                                            <div class="review-summury float-right">
                                                <p><a href="#">3 Reviews</a></p>
                                            </div>
                                        </div>
                                        <ul class="trending-address">
                                            <li><i class="ion-ios-location"></i>
                                                <p>1690 Brown Avenue,Barline</p>
                                            </li>
                                            <li><i class="ion-ios-telephone"></i>
                                                <p>+864-940-3419</p>
                                            </li>
                                            <li><i class="ion-android-globe"></i>
                                                <p>www.thaishow.com</p>
                                            </li>
                                        </ul>
                                        <div class="trending-bottom mar-top-15 pad-bot-30">
                                            <div class="trend-left float-left">
                                                <span class="round-bg green"><i class="icofont-movie"></i></span>
                                                <p><a href="#">Movie</a></p>
                                            </div>
                                            <div class="trend-right float-right">
                                                <div class="trend-open mar-top-5"><i class="ion-clock"></i> 2.30 pm</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>