.percircle.dark {
  background-color: #777777;
}
.percircle.dark .bar,
.percircle.dark .fill {
  border-color: #c6ff00;
}
.percircle.dark > span {
  color: #777777;
}
.percircle.dark:after {
  background-color: #555555;
}
.percircle.dark:hover > span {
  color: #c6ff00;
}
.percircle.red .bar,
.percircle.red .fill {
  border-color: #dd5454;
}
.percircle.red:hover > span {
  color: #dd5454;
}
.percircle.red.dark .bar,
.percircle.red.dark .fill {
  border-color: #f84a4a;
}
.percircle.red.dark:hover > span {
  color: #f84a4a;
}
.percircle.blue .bar,
.percircle.blue .fill {
  border-color: #82cefa;
}
.percircle.blue:hover > span {
  color: #82cefa;
}
.percircle.blue.dark .bar,
.percircle.blue.dark .fill {
  border-color: #20cceb;
}
.percircle.blue.dark:hover > span {
  color: #20cceb;
}
.percircle.green .bar,
.percircle.green .fill {
  border-color: #8dea7b;
}
.percircle.green:hover > span {
  color: #8dea7b;
}
.percircle.green.dark .bar,
.percircle.green.dark .fill {
  border-color: #a9ff3a;
}
.percircle.green.dark:hover > span {
  color: #a9ff3a;
}
.percircle.orange .bar,
.percircle.orange .fill {
  border-color: #f15a23;
}
.percircle.orange:hover > span {
  color:#f15a23;
}
.percircle.orange.dark .bar,
.percircle.orange.dark .fill {
  border-color: #dc5b00;
}
.percircle.orange.dark:hover > span {
  color: #dc5b00;
}
.percircle.pink .bar,
.percircle.pink .fill {
  border-color: #ff8ed0;
}
.percircle.pink:hover > span {
  color: #ff8ed0;
}
.percircle.pink.dark .bar,
.percircle.pink.dark .fill {
  border-color: #ff58b9;
}
.percircle.pink.dark:hover > span {
  color: #ff58b9;
}
.percircle.purple .bar,
.percircle.purple .fill {
  border-color: #aa7eff;
}
.percircle.purple:hover > span {
  color: #aa7eff;
}
.percircle.purple.dark .bar,
.percircle.purple.dark .fill {
  border-color: #7a38f7;
}
.percircle.purple.dark:hover > span {
  color: #7a38f7;
}
.percircle.yellow .bar,
.percircle.yellow .fill {
  border-color: #dcbd00;
}
.percircle.yellow:hover > span {
  color: #dcbd00;
}
.percircle.yellow.dark .bar,
.percircle.yellow.dark .fill {
  border-color: #ffdb00;
}
.percircle.yellow.dark:hover > span {
  color: #ffdb00;
}
.rect-auto,
.percircle.gt50 .slice {
  clip: rect(auto, auto, auto, auto);
}
.pie,
.percircle .bar,
.gt50 .fill {
  position: absolute;
  border: 0.08em solid #307bbb;
  width: 0.84em;
  height: 0.84em;
  clip: rect(0, 0.5em, 1em, 0);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.bar {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.pie-fill,
.gt50 .bar:after,
.gt50 .fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.percircle {
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin: 0 0.1em 0.1em 0;
  background-color: #cccccc;
}
.percircle *,
.percircle *:before,
.percircle *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.percircle.animate > span,
.percircle.animate:after {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
.percircle.animate .bar {
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  -moz-transition: -moz-transform 0.6s ease-in-out;
  -ms-transition: -ms-transform 0.6s ease-in-out;
  -o-transition: -o-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
}
.percircle.center {
  float: none;
  margin: 0 auto;
}
.percircle.big {
  font-size: 240px;
}
.percircle.small {
  font-size: 80px;
}
.percircle > span {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 50%;
  height: 1em;
  margin-top: -0.5em;
  font-size: 0.2em;
  color: #000;
  display: block;
  text-align: center;
  white-space: nowrap;
 font-family: sans-serif;
}
.percircle:after {
  position: absolute;
  top: 0.08em;
  left: 0.08em;
  display: block;
  content: " ";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #f5f5f5;
  width: 0.84em;
  height: 0.84em;
}
.percircle .slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0, 1em, 1em, 0.5em);
}
.percircle:hover {
  cursor: default;
}
.percircle:hover > span {
  /*-webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3); */
  color: #f15a23;
}
.percircle:hover:after {
 /* -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); */
}

.webdial{margin: 0 auto;
    width: 87%;}
.overflow_auto{ width:100%; margin:0px auto; display:block; clear:both; overflow:hidden;}
.overflow_auto2p{ width: 13%;
    margin: 0px auto;}
.scroller1{ font-size:22px; color:#ffffff;}
.overflow_auto1{margin: 0 auto;
    width: 40%;
overflow:hidden;
display:block;}
.overflow_auto2p {
    margin: 0 auto;
    width: 22%;
}
.no-pad-left1{ padding-left:10px;}
.overflow_auto1s{margin: 0 auto;
    width: 22%;}
.overflow_auto1p {
    margin: 0 auto 0 18%;
    text-align: center;
    width: 51%;
}
.overflow_auto2 {
    width: 67%;
    text-align: center;
    margin: 0px auto;
}
.overflow_auto2 p{ text-align:left;}
.overflow_auto2m {
    width: 30%;
    text-align: left;
    margin: 0px auto;
}
a.scroller1:hover{color:#ffffff !important;}

.overflow_autoj{ width: 100%; text-align:left;/* margin: 0px auto;*/
	margin-left:-12px;}
/*# sourceMappingURL=percircle.css.map */

/* Mobile view */

@media(min-width:360px) and ( max-width:480px){
.scroller1{ color: #ffffff;
    display: inline-block;
    font-size: 14px;
    position: relative;
    text-align: center;

	}
.scrollermini{ width:330px !important;}
.webdial{display: block;
    margin: -15% auto -20% -9%;
    overflow: hidden;
    position: relative;
    transform: scale(0.6, 0.6);
    width: 112%;}
.star-inactive{ transform: scale(0.8, 0.8);}
.overflow_auto1{margin: 0 auto;
    width: 98%;}
.overflow_auto1{ font-size:14px; text-align:center;}
.overflow_auto1 p{ font-size:14px !important;}
.overflow_auto1p{margin: 0 auto;
    text-align: left;
    width: 100%; font-size:15px;}
.overflow_auto2{ width: 84%; text-align:center; font-size:13px;}
.overflow_auto2m{ width: 100%; text-align:left; margin:0px auto; font-size:13px;}
.overflow_autoj{ width: 100%; font-size:13px;/* margin: 0px auto;*/
	margin-left:-12px;}
.overflow_auto2p{margin: 0 auto 0 28%; width: 24%;}
}

@media(min-width:320px) and ( max-width:354px){
 .scroller1{ color: #ffffff;
    display: inline-block;
    font-size: 13px;
    position: relative;
    text-align: center;}
.scrollermini{ width:290px !important;}
.webdial{ display: block;
    margin: -15% auto -20% -8%;
    overflow: hidden;
    position: relative;
    transform: scale(0.6, 0.6);
    width: 112%;}
.star-inactive{ transform: scale(0.8, 0.8);}
.overflow_auto1{ display: block; text-align:left; font-size:13px; 
    margin: 0 auto;
    overflow: hidden;
    width: 112%;}
.overflow_auto1 p{ font-size:13px !important;}
.overflow_auto1p{margin: 0 auto;
    text-align: left;
    width: 100%; font-size:13px;}
.overflow_auto1s{ text-align: left;
    margin: 0px auto;
    font-size: 13px !important;
    width: 71%;}
.overflow_auto1s p{ font-size: 13px !important;}
.overflow_auto2p{margin: 0 auto; width: 48%; font-size:13px; text-algin:left;}
.overflow_auto2{ width: 100%; text-align:center; margin:0px auto; font-size:13px;}
.overflow_auto2 p{ width: 100%; text-align:left; margin:0px auto; font-size:13px;}
.overflow_auto2m{width: 100%;
    text-align: left;
    margin: 0px auto;
    font-size: 13px;
}
.three{ text-align:left; font-size:13px !important;}
.overflow_autoj{ width: 100%;
/* margin: 0px auto;*/
	margin-left:-12px; font-size:13px;}

}


@media(min-width:375px) and (max-width:380px){
.scrollermini{ width:344px !important;}
.overflow_auto2m {
    width: 84%;
    text-align: left;
    margin: 0px auto;
}
.overflow_auto1p {
    margin: 0 auto 0 18%;
    text-align: left;
    width: 51%;
}
.overflow_autoj {
    width: 100%;
    /* margin: 0px auto;*/
	margin-left:-12px;
    font-size: 13px;
	
}
.overflow_auto2 {
    width: 84%;
    text-align:center;
}
}

@media(min-width:384px) and (max-width:384px){
.scrollermini{ width:353px !important;}
.overflow_autoj {
    width: 100%;
   /* margin: 0px auto;*/
	margin-left:-12px;
    font-size: 13px;
  }
}


@media(min-width:412px) and (max-width:460px){
.scrollermini{ width:382px !important;}
.overflow_autoj {
    width: 100%;
    /* margin: 0px auto;*/
	margin-left:-12px;
    font-size: 13px;
}

}

@media(min-width:480px) and (max-width:500px){
.scrollermini{ width:450px !important;}
.webdial{margin: 0 auto;
    width: 124%;
}
.overflow_auto1{ text-align:left;}
.overflow_auto1p {
    margin: 0 auto;
    text-align: left;
    width: 85%;
    font-size: 13px;
}.overflow_auto1s{ width: 85%; margin:0px auto;}
.overflow_auto1s p{ font-size: 13px !important; text-align:left;} 
.overflow_auto2p{margin: 0 auto;
    width: 63%; text-align:left; font-size:13px;}
.overflow_auto1{margin: 0 auto;
    width: 79%;}
.overflow_autoj {
    width: 100%;
    /* margin: 0px auto;*/
	margin-left:-12px;
    font-size: 13px;
}
.webdial{ margin-left:-11%;}
}

@media(min-width:533px) and (max-width:540px){
.scroller1{ color: #ffffff;
    display: inline-block;
    font-size: 14px;
    position: relative;
    text-align: center;}
.scrollermini{ width:502px !important;}
.webdial{margin: 0 auto;
    width: 87%;}
.overflow_auto1{margin: 0 auto;
    width: 75%;}
.overflow_auto1 p{ font-size:14px !important;}
.overflow_auto1p{margin: 0 auto;
    text-align: center;
    width: 100%; font-size:15px;}
.overflow_auto2{ width: 84%; text-align:center;}
.overflow_autoj{ width: 100%; /* margin: 0px auto;*/
	margin-left:-12px;font-size:13px;}
}

@media(min-width:568px) and (max-width:580px){
.scrollermini{ width:536px !important;}
.overflow_auto1 {
    margin: 0 auto;
    width: 76%;
    overflow: hidden;
    display: block; text-align:center;
}
.overflow_autoj {
    width: 100%;
    /* margin: 0px auto;*/
	margin-left:-12px;
    font-size: 13px;
}
}

@media(min-width:598px) and (max-width:598px){
.scrollermini{ width:567px !important;}
.overflow_auto1 {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
    display: block; text-align:center;
}
.overflow_autoj {
    width: 100%;
   /* margin: 0px auto;*/
	margin-left:-12px;
    font-size: 13px;
}
.overflow_auto2p {
    width: 33%;
    margin: 0px auto;
}
}

@media(min-width:600px) and (max-width:610px){
.scrollermini{ width:569px !important;}
.overflow_auto1 {
    margin: 0 auto;
    width: 75%;
    overflow: hidden;
    display: block;
}
.overflow_autoj {
    width: 100%;
    /* margin: 0px auto;*/
	margin-left:-12px;
    font-size: 13px;
}
.overflow_auto2p {
    width: 57%;
    margin: 0px auto;}
}

@media(min-width:640px) and (max-width:645px){
.scrollermini{ width:610px !important;}
.webdial{margin: 0 auto;
    width: 100%;
    clear: both;
    overflow: hidden;
    display: block;
    }
.overflow_auto2p{margin: 0 auto 0 20%;
    width: 24%;}
.overflow_auto1{margin: 0 auto;
    width: 70%;
    overflow: hidden;
    display: block;}
.overflow_autoj {
    width: 100%;
   /* margin: 0px auto;*/
	margin-left:-12px;
    font-size: 13px;
}
.overflow_auto1p{margin: 0 auto;
    width: 68%;
    overflow: hidden;
    display: block; margin-left:4%;}
}

@media(min-width:667px) and (max-width:670px){
.scrollermini{ width:636px !important;}
.scroller a{ font-size:22px;}
.overflow_auto1 { width:70%; text-align:center;}
.webdial{ width:93%;}
.overflow_auto2p{margin: 0 auto 0 38%;
    width: 24%;}
.overflow_auto2m {
    width: 68%;
    text-align: left;
    margin: 0px auto;
}
.overflow_autoj {
    width: 100%;
  /* margin: 0px auto;*/
	margin-left:-12px;
    font-size: 13px;
}
}


@media(min-width:690px) and (max-width:690px){
.scrollermini{ width:660px !important;}
.overflow_auto1 {
    margin: 0 auto;
    width: 73%;
    overflow: hidden;
    display: block;
}
.overflow_autoj {
    width: 100%;
    /* margin: 0px auto;*/
	margin-left:-12px;
    font-size: 13px;
}
}

@media(min-width:736px) and (max-width:740px){
.scrollermini{ width:704px !important;}
.scroller a{ font-size:22px;}
.overflow_auto1 { width:70%; text-align:center;}
.webdial{ width:81%;}
.overflow_auto2{ width:67%; text-align:center;}
.overflow_auto2p{margin: 0 auto 0 38%;
    width: 24%;}
.overflow_auto2m {
    width: 62%;
    text-align: left;
    margin: 0px auto;
}
.overflow_autoj {
    width: 100%;
    /* margin: 0px auto;*/
	margin-left:-12px;
    font-size: 13px;
}
}

@media(min-width:768px) and ( max-width:1024px) {
.scrollermini{ width:720px !important;}
.overflow_auto1{ width:70%; text-align:center;}
.overflow_auto1s{ width:41%; text-align:left;}
.overflow_auto2{ width:67%; text-align:center;}
.overflow_auto2p{margin: 0 auto 0 41%;
    width: 24%;}
.overflow_auto2m {
    width: 70% !important;
    text-align: left;
    margin: 0px auto;
}
.overflow_autoj {
    width: 100%;
    /* margin: 0px auto;*/
	margin-left:-12px;
    font-size: 13px;
}
.overflow_auto1p{margin: 0 auto;
    width: 68%;
    overflow: hidden;
    display: block; margin-left:11%;}

/* ipad mini landscape */
@media(min-width:1024px) and (max-width:1366px){
.scrollermini{ width:940px !important;}
.overflow_auto1 {
    width: 43%;}
.overflow_auto2 {
    width: 67%;
    text-align: center;
}

.overflow_auto2m{ width:45%; text-align:left; margin:0px auto;}
}









