.page-sidebar-fixed .sidebar, .top-header-bg {
	position: fixed
}
.sidebar, .top-header-bg {
	left: 0;
	top: 0;
	width: 100%
}
i.star {
	color: #F15922!important
}
i.fa-star {
	color: #CCC
}
.btn_search_in, .search_header {
	border-radius: 6px;
	font-family: "Neo Sans";
	font-size: 18px;
	margin-bottom: 8%;
	text-transform: uppercase;
	color: #FFF;
	outline: 0!important;
	font-weight: 700
}
.review_thumb {
	padding: 11px 6px 0 11px!important
}
.search_header {
	background: url(/images/search_header_bg.png) repeat-x;
	padding-left: 54px;
	padding-right: 54px
}
.btn_search_in {
	background: url(/images/search_header_login_bg.png) repeat-x;
	padding-left: 40px;
	padding-right: 40px
}
.top-header-bg {
	text-align: center;
	background: url(/images/body_bg.jpg) 50% 0 fixed
}
.sidebar {
	background: #f1f1f1;
	bottom: 0;
	padding: 10px 0 50%;
	position: relative;
	z-index: 10
}
.sidebar .nav>li.nav-profile {
	background: #2e3235;
	color: #fff;
	padding: 20px
}
.sidebar .nav>li:after, .sidebar .nav>li:before, .sidebar .nav>li>a:after, .sidebar .nav>li>a:before {
	clear: both;
	content: "";
	display: table
}
.sidebar .nav>li.nav-header {
	color: #6d7983;
	font-size: 11px;
	line-height: 20px;
	margin: 0;
	padding: 10px 20px
}
.sidebar .nav>li.active>a, .sidebar .nav>li.active>a:focus, .sidebar .nav>li.active>a:hover {
	background: #f25822;
	color: #fff
}
.sidebar .nav>li.has-sub a i.fa {
	font-size: 25px;
	float: left
}
.sidebar .nav>li.has-sub a span {
	padding-left: 10px
}
.sidebar .nav>li>a {
	color: #4a4949;
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 20px;
	padding: 12px 20px;
	margin: 8px 0;
	outline: 0
}
.sidebar .nav>li.has-sub>a:hover {
	background: #f25822!important;
	color: #fff
}
.sidebar .nav>li>a .caret {
	float: right;
	margin-top: 9px
}
.dashboard_right_col {
	margin: 5% 0
}
.dashboard_right_col h2.hedding_h2 {
	color: #f25822;
	font-size: 22px;
	margin: 0;
	padding: 0 0 3%;
	float: left;
	width: 100%
}
.dashboard_right_col h2.hedding_h2 i.fa {
	font-size: 45px;
	float: left
}
.dashboard_right_col h2.hedding_h2 span {
	float: left;
	padding: 1% 0 0 2%
}
.dashboard_right_col .left_td {
	color: #000;
	font-family: 'Open Sans';
	font-size: 15px
}
.dashboard_right_col .right_td {
	color: #a1a0a6;
	font-family: 'Open Sans';
	font-size: 15px
}
.dashboard_right_col .pull_left_bg {
	padding: 2% 0 10%;
	border-right: 1px solid #E0DFDF
}
.dashboard_right_col .pull_right_bg {
	padding: 2% 12%
}
.dashboard_right_col .pull_left_bg h3.hedding_h3 {
	margin-bottom: 5px;
	text-align: center;
	color: #555;
	font-size: 18px;
	font-weight: 700
}
.dashboard_right_col .pull_left_bg p.p_text {
	margin-bottom: 0;
	text-align: center;
	color: #555
}
.dashboard_right_col .pull_left_bg form.form_payment label span {
	color: #555;
	font-family: 'Open Sans';
	font-size: 14px;
	padding-left: 10px
}
.dashboard_right_col .pull_left_bg form.form_payment .row_control {
	margin: 8% 17%;
	text-align: center
}
.dashboard_right_col .pull_left_bg form.form_payment .row_control button.select_option, .dashboard_right_col .pull_left_bg form.form_payment .row_control select.select_option {
	background: #fafafa;
	border: 1px solid #e9edf0;
	color: #555;
	font-family: 'Open Sans';
	font-size: 14px;
	border-radius: 0;
	box-shadow: none;
	margin: 8px 0;
	height: 45px
}
.input_fild_1, .input_fild_img_browse {
	background: #fafafa;
	border: 1px solid #eaedef;
	box-shadow: none;
	margin: 8px 0;
	padding: 10px
}
.input_fild_1 {
	height: 45px
}
.nav>li>a:focus, .nav>li>a:hover {
	background: 0 0
}
.dashboard_right_col .payment_col {
	padding: 15px 0
}
.dashboard_right_col .pull_left_bg h3.payment_h3 {
	font-size: 15px;
	color: #555454;
	padding-top: 10%
}
.dashboard_right_col .pull_left_bg form.payment_col2 {
	padding: 2% 0;
	width: 100%
}
.dashboard_right_col .pull_left_bg form.payment_col2 label.checkbox-inline {
	padding: 0;
	margin: 0
}
.dashboard_right_col .pull_left_bg form.payment_col2 label.input_radio {
	width: 100%;
	margin-top: 45%
}
.dashboard_right_col .pull_left_bg form.form_payment label.label_text {
	color: #9a9ead;
	font-size: 13px;
	font-family: 'Open Sans';
	margin-bottom: 0
}
.select_option_1, .select_option_2 {
	margin: 8px 10px 0 0;
	color: #5f5f61;
	font-size: 14px;
	background: #fafafa;
	border: 1px solid #eaedef;
	box-shadow: none;
	height: 45px;
	padding: 8px 10px;
	font-family: 'Open Sans'
}
.select_option_2 {
	width: 150px
}
.input_fild_2 {
	background: #fafafa;
	border: 1px solid #eaedef;
	box-shadow: none;
	height: 45px;
	margin: 8px 0;
	padding: 8px 10px;
	width: 140px
}
.total_price {
	text-align: center;
	color: #595959;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	padding: 7px;
	margin-right: 20px;
	float: left
}
.btn_pay {
	margin-top: 0
}
.total_bg {
	float: left;
	width: 100%;
	padding: 5% 0 0 30%
}
.star-inactive {
	background-image: url(/images/starbg.png);
	background-repeat: no-repeat;
	background-size: 91px;
	background-position: 0 0;
	display: inline-block;
	height: 20px;
	width: 92px
}
.star-active {
	background: url(/images/starbg.png) 0 -21px no-repeat;
	background-size: 91px;
	height: 20px;
	width: 50%
}
.refined .star-inactive {
	height: 15px;
	margin: 0 10px
}
.padding-right-10 {
	padding-right: 10px
}
.viewall {
	border-radius: 0
}
.padding-right-10 {
    padding-right: 10px;
	position: absolute;
    margin-top: 6px;
    left: 15px;
}
.list-unstyled li:first-child{
	border-top: 1px dotted gray;
}
.list-unstyled li {
    border-bottom: 1px dotted gray;
    padding: 12px 22px; 
	transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;

}
.list-unstyled li a{color:#555;}
.list-unstyled li:hover a, .list-unstyled li:hover i {
	padding-left:10px;
	cursor:pointer;
	display:block; 
	color:#555;
	transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
}