@import url(merged-import-styles.css);
.purchase span,
body {
    font-family: 'poppins', sans-serif;
}

.padding_left {
    padding-left: 0!important
}

 

.award-table-box .table>tbody>tr:first-child>td,
.award-table-box .table>tbody>tr:first-child>th,
.award-table-box table {
    border-top: 1px solid #000
}

.about-me h2,
.about-my-goals h2,
.breadcrumbs-v2 h1,
.link-list a,
.parallax-counter-v1 h4,
.parallax-counter-v2 .counters h4,
.service-block-v3 .service-heading,
.title-box-v2 h2 {
    text-transform: uppercase
}

.table-search-v1 td,
.table-search-v2 td {
    vertical-align: middle!important
}
 

.most-reviewed-top5{
	 background: url(../../admin/files/badges/5-most-reviewed.png);
    background-size: 100% 100%;
}
.most-reviewed-top10{
	 background: url(../../admin/files/badges/10-most-reviewed.png); 
    background-size: 100% 100%;
}
.most-reviewed-top25{
	 background: url(../../admin/files/badges/25-most-reviewed.png);
    background-size: 100% 100%;
}
.most-reviewed-top50{
	 background: url(../../admin/files/badges/50-most-reviewed.png);
    background-size: 100% 100%;
}

.nottrusted-responder {
    background: url(../../admin/files/badges/poor-responder.png);
    background-size: 100% 100%;
}
.trusted-responder {
    background: url(../../admin/files/badges/trusted-responder.png);
    background-size: 100% 100%;
}
.review-friendly {
    background: url(../../admin/files/badges/review-friendly.png);
    background-size: 100% 100%;
}

.review-unfriendly {
    background: url(../../admin/files/badges/review-unfriendly.png);
    background-size: 100% 100%;
}


.response-time{
    background: url(../../admin/files/badges/response-time.png);
    background-size: 100% 100%;
}

body {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
	font-family: 'poppins', sans-serif;
}

li,
p {
    color: #555
}

a {
    color: #042E6F
}

 

.awards-page {
    margin-bottom: 3px
}

.vacancy-button {
    display: inline-block;
    height: 10px;
    width: auto
}

.award-table-box {
    position: relative;
    width: 100%
}

.award-table-box table {
    width: 100%
}

.award-table-box table h2 {
    font-size: 18px;
    margin: 0;
    padding: 10px 15px;
    text-align: center
}

.award-table-box .table>thead>tr>td,
.award-table-box .table>thead>tr>th {
    background: #000;
    color: #fff;
    font-weight: 400;
    border-left: 1px solid #000;
    border-right: 1px solid #000
}

.award-table-box .table>tbody>tr>td,
.award-table-box .table>tbody>tr>th,
.award-table-box .table>tfoot>tr>td,
.award-table-box .table>tfoot>tr>th,
.award-table-box .table>thead>tr>td,
.award-table-box .table>thead>tr>th {
    font-size: 12px;
    padding: 6px
}

@media(max-width:1199px) {
    .award-table-box {
        overflow-x: auto
    }
}

.about-me,
.bs-glyphicons,
.easy-block-v2,
.easy-block-v3 .inner-faq-b,
.posts .dl-horizontal,
.service,
.service .desc,
.service-info .info-description,
.service-or {
    overflow: hidden
}

.wrapper {
    background: #fff
}

.boxed-layout {
    padding: 0;
    box-shadow: 0 0 5px #ccc;
    margin-left: auto!important;
    margin-right: auto!important;
    background: url(../img/patterns/15.png)
}

.parallax-bg {
    background: url(../img/blur/img1.jpg) 50% 0 fixed
}

.parallax-counter {
    padding: 60px 0;
    background: url(../img/bg/9.jpg) 50% 0 no-repeat fixed
}

.parallax-counter h4 {
    color: #fff;
    font-size: 18px
}

.parallax-counter .counters {
    color: #fff;
    padding: 20px 0;
    font-weight: 200;
    background: rgba(0, 0, 0, .6)
}

.parallax-counter-v1 {
    padding: 60px 0;
    background: url(../img/patterns/5.png) fixed
}

.parallax-counter-v1 .counters {
    color: #fff;
    padding: 15px 0 10px;
    border: 1px solid #555
}

.parallax-counter-v1 h4 {
    color: #bbb;
    font-size: 16px
}

.parallax-counter-v1 span.counter {
    font-size: 42px;
    line-height: 48px
}

.parallax-counter-v2 {
    position: relative;
    padding: 80px 0 60px;
    background: url(../img/patterns/16.png) fixed
}

.parallax-counter-v2:after {
    top: 0;
    left: 50%;
    content: " ";
    margin-left: -25px;
    position: absolute;
    border-top: 25px solid #fff;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent
}

.parallax-counter-v2:before,
.parallax-team:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " "
}

.parallax-counter-v2:before {
    position: absolute;
    background: rgba(0, 0, 0, .02)
}

.parallax-counter-v2 .counters {
    padding: 20px 0;
    border-bottom: solid 2px #ddd;
    background: rgba(255, 255, 255, .9)
}

.parallax-counter-v2 .counters h4,
.parallax-counter-v2 .counters span {
    color: #555;
    font-weight: 200;
    font-family: "poppins", sans-serif;
}

.parallax-counter-v2 .counters span {
    font-size: 36px
}

.parallax-counter-v2 .counters h4 {
    font-size: 22px
}

@media (max-width:992px) {
    .parallax-counter-v2 .counters {
        margin-bottom: 0!important
    }
}

.parallax-team {
    background: url(../img/team/faces.jpg) 50% 0 fixed
}

.parallax-team,
.parallax-team .title-box-v2 {
    position: relative
}

.parallax-team:before {
    position: absolute;
    background: rgba(255, 255, 255, .9)
}

.purchase {
    padding: 25px 0 30px;
    border-bottom: solid 1px #eee;
    background: url(../img/breadcrumbs.png)
}

.purchase p {
    margin-bottom: 0
}

.purchase span {
    color: #666;
    display: block;
    font-size: 24px;
    line-height: 35px;
    font-weight: 400;
    margin-bottom: 12px
}

.purchase .btn-buy {
    text-align: center
}

.purchase .btn-buy a {
    margin-top: 27px
}

.purchase .btn-buy a i {
    margin-right: 5px
}

@media (max-width:992px) {
    .purchase {
        text-align: center
    }
    .purchase span {
        font-size: 22px;
        line-height: 29px
    }
    .purchase .btn-buy a {
        margin-top: 25px;
        font-size: 16px
    }
}

.service {
    margin-bottom: 10px;
    padding: 15px 15px 10px
}

.service:hover {
    background: #fcfcfc;
    box-shadow: 0 0 5px #ddd;
    -webkit-transition: box-shadow .2s ease-in-out;
    -moz-transition: box-shadow .2s ease-in-out;
    -o-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out
}

.service:hover i {
    color: #656565
}

.service .desc {
    padding: 0 15px
}

.service .desc h4 {
    font-size: 22px;
    line-height: 25px
}

.service .service-icon {
    float: left;
    padding: 10px;
    color: #72c02c;
    font-size: 35px;
    text-align: center;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.service .service-icon.icon-cogs {
    font-size: 37px
}

.service .service-icon.icon-plane {
    font-size: 43px
}

.recent-work a {
    text-align: center;
    background: #fcfcfc;
    display: inline-block
}

.recent-work a:hover {
    text-decoration: none
}

.recent-work a:hover strong {
    color: #555
}

.recent-work em.overflow-hidden {
    display: block
}

.recent-work a span {
    display: block;
    padding: 10px;
    border-bottom: solid 2px #eee
}

.recent-work a strong {
    color: #555;
    display: block
}

.recent-work a i {
    color: #777
}

.recent-work a img {
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out
}

.recent-work a:hover img {
    opacity: .8;
    -webkit-transform: scale(1.2) rotate(3deg);
    -moz-transform: scale(1.2) rotate(3deg);
    -o-transform: scale(1) rotate(3deg);
    -ms-transform: scale(1.2) rotate(3deg);
    transform: scale(1.2) rotate(3deg)
}

.recent-work a:hover span {
    border-bottom: solid 2px #72c02c;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .3s ease-in-out
}

.work {
    margin-top: 6px
}

.work .details {
    padding: 10px
}

.work .caption {
    display: block;
    padding-top: 5px;
    color: #585f69!important;
    font-size: 18px!important
}

.work .caption:hover {
    cursor: pointer;
    color: #444!important;
    text-decoration: underline
}

.thumb-headline h2 {
    color: #eee;
    font-size: 16px
}

.footer-logo {
    margin: 17px 0 20px
}

.latest-list li {
    padding: 8px 0;
    border-top: 1px solid #353535
}

.latest-list li:first-child {
    padding-top: 0;
    border-top: none
}

.latest-list li a {
    color: #eee
}

.latest-list small {
    color: #999;
    display: block
}

.link-list li {
    border-top: solid 1px #353535
}

.link-list li:first-child {
    border-top: none!important
}

.link-list a {
    color: #eee;
    font-size: 11px;
    padding: 6px 0;
    display: inline-block
}

.link-list li i {
    color: #bbb;
    float: right;
    margin-top: 10px
}

.latest-tweets .latest-tweets-inner p {
    color: #555;
    font-size: 13px
}

.latest-tweets .latest-tweets-inner a {
    text-decoration: none
}

.latest-tweets .latest-tweets-inner a:hover {
    text-decoration: underline
}

.latest-tweets .latest-tweets-inner i.fa {
    top: 2px;
    float: left;
    color: #55acee;
    font-size: 18px;
    margin-right: 5px;
    position: relative
}

.latest-tweets .latest-tweets-inner small {
    color: #777;
    display: block
}

.social-icons {
    margin-top: 5px
}

.social-icons li {
    margin: 0
}

.social-icons li a {
    margin: 0 3px
}

.breadcrumbs {
    padding: 6px 0 6px;
    border-bottom: solid 1px #eee;
    background: url(../img/breadcrumbs.png)
}

.breadcrumbs h1 {
    color: #666;
    font-size: 22px;
    margin-top: 8px
}

.breadcrumb {
    top: 10px;
    padding-right: 0;
    background: 0 0;
    position: relative
}

.breadcrumb a {
    color: #777
}

.breadcrumb li a:hover,
.breadcrumb li.active {
    color: #72c02c;
    text-decoration: none
}

@media (max-width:767px) {
    .breadcrumbs ul.pull-right {
        width: 100%;
        text-align: center;
        float: left!important
    }
}

@media (max-width:550px) {
    .breadcrumbs h1.pull-left,
    .breadcrumbs ul.pull-right {
        width: 100%;
        text-align: center;
        float: left!important
    }
    .breadcrumbs h1.pull-left {
        margin-bottom: 0
    }
    .breadcrumbs .breadcrumb {
        top: 0;
        margin-bottom: 10px
    }
}

@media (max-width:350px) {
    .profile-heading {
        float: none!important;
        text-align: center
    }
    .profile-heading-img {
        width: 100%;
        max-width: 150px;
        margin: 0 auto 10px;
        display: block
    }
}

a.thumbnail {
    padding: 0;
    border: none;
    margin-bottom: 15px
}

.thumbnail-style {
    padding: 7px;
    margin-bottom: 20px
}

.thumbnail-style:hover {
    box-shadow: 0 0 8px #ddd;
    -webkit-transition: box-shadow .2s ease-in-out;
    -moz-transition: box-shadow .2s ease-in-out;
    -o-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out
}

.thumbnail h3,
.thumbnail-style h3 {
    margin: 6px 0 8px
}

.thumbnail h3 a,
.thumbnail-style h3 a {
    color: #585f69;
    font-size: 18px
}

.thumbnail h3 a:hover,
.thumbnail-style h3 a:hover {
    color: #72c02c;
    text-decoration: none
}

.thumbnail-style .thumbnail-img {
    position: relative;
    margin-bottom: 11px
}

.thumbnail-style a.btn-more {
    right: -10px;
    bottom: 10px;
    color: #fff;
    padding: 1px 6px;
    position: absolute;
    background: #72c02c;
    display: inline-block
}

.thumbnail-style a.btn-more:hover {
    text-decoration: none;
    box-shadow: 0 0 0 2px #5fb611
}

.thumbnail-style:hover a.btn-more {
    right: 10px
}

.thumbnail-kenburn img {
    left: 10px;
    margin-left: -10px;
    position: relative;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out
}

.thumbnail-kenburn:hover img {
    -webkit-transform: scale(1.2) rotate(2deg);
    -moz-transform: scale(1.2) rotate(2deg);
    -o-transform: scale(1.2) rotate(2deg);
    -ms-transform: scale(1.2) rotate(2deg);
    transform: scale(1.2) rotate(2deg)
}

.service-alternative .service:hover {
    background: #76ca2c;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.posts .dl-horizontal:hover dd a,
.posts .dl-horizontal:hover dt img,
.team ul.team-socail li i:hover {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

.service-alternative .service:hover h4,
.service-alternative .service:hover i,
.service-alternative .service:hover p {
    color: #fff
}

.service-v1 h2 {
    margin: 15px 0 10px;
    font-size: 20px;
    line-height: 28px
}

.service-v1 p {
    text-align: justify
}

.posts .dl-horizontal a {
    color: #555
}

.posts .dl-horizontal {
    margin-bottom: 15px
}

.posts .dl-horizontal dt {
    width: 60px;
    float: left
}

.posts .dl-horizontal dt img {
    width: 60px;
    height: 60px;
    padding: 2px;
    margin-top: 2px;
    border: 1px solid #ddd
}

.posts .dl-horizontal dd {
    margin-left: 70px
}

.posts .dl-horizontal dd p {
    margin: 0
}

.posts .dl-horizontal dd a {
    font-size: 14px;
    line-height: 16px!important
}

.posts .dl-horizontal dd a:hover {
    color: #72c02c;
    text-decoration: none
}

.posts .dl-horizontal:hover dd a,
.posts .dl-horizontal:hover dt img {
    color: #72c02c;
    border-color: #72c02c!important;
    transition: all .2s ease-in-out
}

.team ul.team-socail {
    text-align: right
}

.team ul.team-socail li {
    margin: 0!important;
    padding: 0!important
}

.team ul.team-socail li a,
.team ul.team-socail li a:hover {
    text-decoration: none
}

.team ul.team-socail li i {
    color: #aaa;
    padding: 6px 7px;
    min-width: 30px;
    font-size: 18px;
    text-align: center;
    background: #f7f7f7;
    display: inline-block
}

.team ul.team-socail li i:hover {
    color: #fff;
    background: #72c02c;
    transition: all .2s ease-in-out
}

.team .thumbnail-style {
    padding: 12px
}

.team .thumbnail-style img {
    margin-bottom: 7px
}

.team .thumbnail-style h3 {
    margin-bottom: 5px
}

.team .thumbnail-style:hover h3 a {
    color: #72c02c!important
}

.team .thumbnail-style small {
    display: block;
    margin-top: 5px;
    font-size: 12px
}

.about-me h2 {
    margin: 0;
    font-size: 20px
}

.about-me span {
    color: #999;
    display: block;
    font-size: 14px;
    margin-bottom: 10px
}

ul.blog-tags a,
ul.blog-tags li {
    display: inline-block
}

.about-me .social-icons {
    margin-top: 7px
}

.about-skills {
    padding: 40px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: url(../img/breadcrumbs.png)
}

.gallery-page .thumbnail,
.gallery-page .thumbnail:hover {
    padding: 0;
    border: none;
    box-shadow: none
}

.gallery-page .thumbnails {
    margin-bottom: 6px
}

.privacy a {
    text-decoration: underline
}

.privacy a:hover {
    color: #72c02c;
    text-decoration: none
}

.portfolio-item h2 {
    color: #555;
    font-size: 24px;
    margin: 0 0 15px
}

.portfolio-item li {
    padding: 3px 0
}

.portfolio-item p a {
    text-decoration: underline
}

.portfolio-item p a:hover {
    text-decoration: none
}

.portfolio-item1 ul {
    margin: 10px 0 20px
}

.portfolio-item1 li {
    font-size: 16px;
    margin-bottom: 3px
}

.portfolio-item1 li i {
    font-size: 18px;
    margin-right: 4px
}

ul.blog-tags a {
    font-size: 13px;
    padding: 2px 7px;
    background: #f7f7f7;
    margin: 0 3px 6px 0
}

ul.blog-tags a i {
    color: #666
}

ul.blog-tags a:hover {
    background: #72c02c
}

ul.blog-tags a:hover,
ul.blog-tags a:hover i {
    color: #fff!important;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.blog-photos li {
    display: inline
}

.blog-photos li img {
    width: 58px;
    height: 58px;
    margin: 0 2px 8px
}

.blog-photos li img:hover {
    box-shadow: 0 0 0 2px #72c02c
}

.blog-twitter .blog-twitter-inner {
    padding: 10px;
    position: relative;
    background: #f7f7f7;
    margin-bottom: 10px
}

.blog-twitter .blog-twitter-inner,
.blog-twitter .blog-twitter-inner:after,
.blog-twitter .blog-twitter-inner:before {
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out
}

.blog-twitter .blog-twitter-inner:after,
.blog-twitter .blog-twitter-inner:before {
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    content: " ";
    display: block;
    position: absolute
}

.service-or,
.who li i {
    position: relative
}

.blog-twitter .blog-twitter-inner:after {
    border-top: 15px solid #eee;
    border-right: 15px solid transparent;
    border-left: 0 solid transparent;
    border-left-style: inset;
    border-right-style: inset
}

.blog-twitter .blog-twitter-inner:before {
    border-bottom: 15px solid #fff;
    border-right: 0 solid transparent;
    border-left: 15px solid transparent;
    border-left-style: inset;
    border-bottom-style: inset
}

.blog-twitter .blog-twitter-inner:hover {
    border-color: #72c02c
}

.blog-twitter .blog-twitter-inner:hover:after {
    border-top-color: #72c02c
}

.blog-twitter .blog-twitter-inner span.twitter-time {
    color: #777;
    display: block;
    font-size: 11px
}

.blog-twitter .blog-twitter-inner a {
    color: #72c02c;
    text-decoration: none
}

.blog-twitter .blog-twitter-inner a:hover {
    text-decoration: underline
}

.status-bar li a:hover,
.team-social li a:hover,
.who li:hover a:hover {
    text-decoration: none
}

.blog-twitter .blog-twitter-inner i.fa {
    top: 2px;
    color: #bbb;
    font-size: 18px;
    position: relative
}

.who li {
    margin-bottom: 6px
}

.who li i {
    color: #72c02c;
    font-size: 13px;
    min-width: 15px;
    margin-right: 8px;
    text-align: center
}

.who li:hover a,
.who li:hover i {
    color: #777
}

.fullwidthbanner-container.slider-promo {
    max-height: 460px!important
}

.slider-promo-info-bg {
    padding: 25px 20px 20px;
    background: url(../img/bg-black.png)
}

.slider-promo-info span.big-size {
    color: #fff;
    display: block;
    font-size: 30px;
    margin-bottom: 25px;
    text-shadow: none!important
}

.slider-promo-info p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0
}

.promo-box {
    padding: 20px;
    margin: 25px 0 20px;
    text-align: center
}

.promo-box i {
    display: block;
    font-size: 50px
}

.promo-box p {
    font-size: 14px;
    margin-bottom: 0
}

.promo-box strong,
.promo-box strong a {
    color: #555;
    display: block;
    font-size: 20px;
    font-weight: 200;
    margin: 20px 0 15px
}

.promo-box:hover strong,
.promo-box:hover strong a {
    color: #72c02c
}

.promo-service {
    margin-bottom: 20px
}

.promo-service li {
    margin-bottom: 5px
}

.promo-service a.btn-u {
    margin: 0 20px 10px 0
}

.title-box {
    font-size: 16px;
    text-align: center;
    padding: 10px 0 30px;
    border-bottom: solid 1px #eee
}

.title-box .title-box-text {
    color: #555;
    display: block;
    font-size: 35px;
    font-weight: 200
}

@media (max-width:768px) {
    .title-box .title-box-text {
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 10px
    }
    .title-box p {
        font-size: 15px
    }
    .line-icon-page .item-box {
        height: 115px
    }
    .event-blog-list-box .event-blog-cont-box {
        padding-left: 0!important;
        padding-top: 80px
    }
    .event-blog-list-box .event-blog-date-box {
        border-right: 1px solid #C9CFD8;
        border-bottom: none;
        -moz-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0
    }
}

.block-blockquote {
    margin: 20px 0;
    text-align: center;
    border: 1px dashed #ccc
}

.block-blockquote-inner {
    padding: 15px
}

.block-blockquote p {
    font-size: 26px;
    margin-bottom: 0
}

.info-blocks {
    margin-bottom: 15px
}

.info-blocks:hover i.icon-info-blocks {
    color: #72c02c;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.info-blocks i.icon-info-blocks {
    float: left;
    color: #777;
    font-size: 30px;
    min-width: 50px;
    margin-top: 10px;
    text-align: center
}

.info-blocks .info-blocks-in {
    padding: 0 10px;
    overflow: hidden
}

.info-blocks .info-blocks-in h3 {
    color: #555;
    font-size: 20px;
    line-height: 28px
}

.info-blocks .info-blocks-in p {
    font-size: 12px
}

.brand-page .btn,
.form-page input,
.form-page select {
    margin-bottom: 10px
}

ul.labels-demo {
    margin: 5px 0
}

ul.labels-demo li {
    list-style: none;
    display: inline-block;
    margin: 0 5px 2px 0
}

.badge-sidebar {
    border-left: solid 1px #eee
}

@media (max-width:991px) {
    .badge-sidebar {
        border-left: none
    }
}

.bs-glyphicons li,
.line-icon-page .item-box {
    border: 1px solid #ddd;
    text-align: center;
    float: left
}

.line-icon-page .item-box {
    width: 25%;
    height: 90px;
    padding: 20px 10px;
    margin: 0 -1px -1px 0;
    word-wrap: break-word
}

@media (max-width:450px) {
    .line-icon-page .item-box {
        height: 130px
    }
}

.line-icon-page .item-box:hover {
    background: #fafafa
}

.line-icon-page .item span {
    display: block;
    font-size: 28px;
    margin-bottom: 10px
}

.line-icon-page .item:hover {
    color: #72c02c
}

.icon-page-fa {
    margin-bottom: 20px
}

.icon-page-fa .item-box {
    float: left;
    height: 100px;
    width: 16%!important
}

.icon-page-fa .item {
    font-size: 12px
}

.icon-page-fa .item i {
    color: #555;
    display: block;
    font-size: 24px;
    margin-bottom: 10px
}

@media (max-width:767px) {
    .icon-page-fa .item-box {
        width: 20%!important
    }
    .list-buttons a {
        width: 48%;
        float: left;
        margin: 5px 1%
    }
    .list-buttons {
        float: left;
        width: 100%
    }
    .facility-heading {
        width: 60%;
        float: left
    }
}

@media (max-width:600px) {
    .icon-page-fa .item-box {
        width: 30%!important
    }
}

@media (max-width:400px) {
    .icon-page-fa .item-box {
        width: 50%!important
    }
}

.bs-glyphicons {
    padding-left: 0;
    list-style: none;
    padding-bottom: 1px;
    margin-bottom: 20px
}

.bs-glyphicons li {
    width: 25%;
    height: 115px;
    padding: 10px;
    font-size: 11px;
    line-height: 1.4;
    margin: 0 -1px -1px 0
}

.bs-glyphicons .glyphicon {
    display: block;
    font-size: 18px;
    margin: 5px auto 10px
}

.bs-glyphicons li:hover {
    color: #72c02c;
    background-color: #fafafa
}

.list-buttons a {
    margin-bottom: 5px
}

.right-img-box img {
    width: 100%
}

@media (min-width:768px) {
    .bs-glyphicons li {
        width: 12.5%
    }
}

.demo-pro-glyphicons li {
    width: 170px;
    height: 100px;
    padding: 20px 10px 30px
}

.demo-pro-glyphicons span {
    height: 40px;
    display: block
}

.demo-pro-glyphicons span:before {
    color: #555;
    padding: 10px 62px
}

.demo-pro-glyphicons span.glyphicons:before {
    font-size: 22px
}

.demo-pro-glyphicons span.halflings {
    height: 30px
}

.demo-pro-glyphicons span.halflings:before {
    padding: 10px 70px
}

.map {
    width: 100%;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee
}

.map-box {
    height: 250px
}

.map-box-space {
    margin-top: 15px
}

.map-box-space1 {
    margin-top: 7px
}

.service-bg {
    width: 250px;
    padding: 60px;
    position: absolute;
    top: -10px;
    right: -100px;
    background-color: rgba(255, 255, 255, .1);
    transform: rotate(55deg);
    -o-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -webkit-transform: rotate(55deg)
}

.service-block-v2 .service-block-in {
    padding: 20px 30px;
    text-align: center;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, .2)
}

.service-block-v2 .service-block-in img {
    width: 100%;
    margin-bottom: 15px
}

.service-block-v2 .service-block-in i {
    font-size: 40px
}

.service-block-v2 .service-block-in h4 {
    line-height: 25px
}

.service-block-v2 .service-block-in p {
    margin-bottom: 20px
}

.service-block-v2 .service-block-in h4,
.service-block-v2 .service-block-in i,
.service-block-v2 .service-block-in p {
    color: #fff
}

.easy-block-v1 {
    position: relative
}

.easy-block-v1 img {
    width: 100%
}

.easy-block-v1 .overflow-h h3 {
    width: 60%;
    float: left;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px
}

.easy-block-v1 .easy-block-v1-badge {
    left: 0;
    top: 10px;
    z-index: 1;
    color: #fff;
    padding: 4px 10px;
    position: absolute
}

.easy-block-v2 {
    position: relative;
    margin-bottom: 20px
}

.easy-block-v2 img {
    width: 100%
}

.easy-bg-v2 {
    top: 5px;
    color: #fff;
    width: 100px;
    padding: 5px;
    right: -32px;
    font-size: 13px;
    position: absolute;
    text-align: center;
    letter-spacing: 2px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
}

.simple-block img,
.team-v2 img {
    width: 100%
}

.easy-block-v3 {
    text-align: left;
    background: #585f69;
    margin-bottom: 10px;
    padding: 30px 20px 20px
}

.simple-block p,
.team-social li a {
    text-align: center
}

.easy-block-v3.first {
    background: #696f77
}

.easy-block-v3.second {
    background: #707780
}

.easy-block-v3.third {
    background: #787f88
}

.easy-block-v3 i {
    color: #fff;
    float: left;
    font-size: 30px;
    min-width: 45px;
    padding-top: 10px
}

.easy-block-v3 .inner-faq-b h2,
.easy-block-v3 .inner-faq-b h3 {
    font-size: 21px;
    margin-bottom: 8px
}

.easy-block-v3 .inner-faq-b h4 {
    color: #fff;
    font-size: 17px;
    margin-bottom: 2px
}

.easy-block-v3 .inner-faq-b h2,
.easy-block-v3 .inner-faq-b h3,
.easy-block-v3 .inner-faq-b p {
    color: #fff
}

.full-w-block {
    padding: 30px 0;
    background: #282828
}

.full-w-block .info-blocks i,
.full-w-block .info-blocks-in h3 {
    color: #fff
}

.full-w-block .info-blocks-in p {
    color: #ccc
}

.full-w-block .info-blocks:hover i.icon-info-blocks {
    color: #fff
}

.team-v2 {
    position: relative;
    margin-bottom: 20px
}

.team-v2 .inner-team {
    padding: 20px;
    background: #fff;
    text-align: center
}

.team-v2 .inner-team h3 {
    margin: 0
}

.team-v2 .inner-team small {
    display: block;
    font-size: 12px;
    margin-bottom: 7px
}

.team-v2 .inner-team p {
    font-size: 13px
}

.team-v2 .inner-team hr {
    margin: 10px 0 15px
}

.team-social {
    margin-bottom: 0
}

.team-social li {
    padding: 0 2px
}

.team-social li a {
    font-size: 14px;
    padding: 6px 4px;
    border-radius: 50%!important
}

.team-social li i {
    min-width: 20px
}

.team-social li a.fb {
    color: #4862a3;
    border: 1px solid #4862a3
}

.team-social li a.tw {
    color: #159ceb;
    border: 1px solid #159ceb
}

.team-social li a.gp {
    color: #dc4a38;
    border: 1px solid #dc4a38
}

.team-social li a.fb:hover {
    color: #fff;
    background: #4862a3
}

.team-social li a.tw:hover {
    color: #fff;
    background: #159ceb
}

.team-social li a.gp:hover {
    color: #fff;
    background: #dc4a38
}

.simple-block {
    margin-bottom: 20px
}

.simple-block .carousel-indicators {
    top: 10px;
    left: 65%;
    text-align: right
}

.banner-info i,
.breadcrumb-v2 li i,
.breadcrumbs-v2,
.social-contacts li i,
.three-blocks,
.title-box-v2,
.two-blocks,
.two-blocks-in i {
    text-align: center
}

.simple-block .carousel-indicators .active {
    background: #555
}

.banner-info.dark i,
.two-blocks-in i {
    background: #585f69
}

.simple-block .carousel-indicators li {
    border-color: #555
}

.simple-block .carousel-inner>.item {
    margin: 0
}

.simple-block .responsive-video {
    margin-bottom: 3px
}

.two-blocks-in {
    margin-bottom: 30px
}

.two-blocks-in i {
    color: #fff;
    padding: 11px;
    font-size: 30px;
    min-width: 50px;
    margin-bottom: 10px;
    display: inline-block
}

.three-blocks-in {
    margin-bottom: 30px
}

.three-blocks-in i {
    color: #777;
    padding: 9px 6px;
    font-size: 20px;
    min-width: 40px;
    margin-bottom: 10px;
    border: 1px solid #777
}

.banner-info.light i,
.breadcrumb-v2 li i {
    border: 1px solid #fff
}

.three-blocks-in h3 {
    font-size: 20px;
    margin-bottom: 7px
}

.banner-info {
    margin-bottom: 10px
}

.banner-info i {
    float: left;
    color: #fff;
    padding: 11px;
    min-width: 40px;
    font-size: 22px;
    margin: 7px 20px 0 0
}

.banner-info i.fa {
    min-width: 46px
}

.banner-info h3 {
    font-size: 21px;
    margin-bottom: 5px
}

.banner-info.light h3 {
    color: #fff
}

.banner-info.light p {
    color: #eee
}

.breadcrumb-v2 li a,
.breadcrumb-v2 li.active,
.breadcrumbs-v2 h1,
.breadcrumbs-v3 .breadcrumb li a,
.breadcrumbs-v3 h1 {
    color: #fff
}

.breadcrumbs-v2 {
    position: relative;
    background: url(../img/bg/11.jpg) center no-repeat
}

.breadcrumbs-v2-in {
    padding: 60px 0;
    position: relative
}

.breadcrumb-v2 li i {
    color: #fff;
    min-width: 19px;
    padding: 3px 7px;
    margin-right: 5px
}

.breadcrumbs-v3 {
    padding: 10px 0;
    background: #585f69;
    border-bottom: 1px solid #eee
}

.breadcrumbs-v3 h1 {
    margin: 3px 0;
    font-size: 22px;
    font-weight: 200
}

.breadcrumbs-v3 .breadcrumb {
    padding: 0;
    margin-top: 2px;
    margin-bottom: 0
}

.title-box-v2 {
    margin-bottom: 40px
}

.title-box-v2 h2 {
    font-size: 25px
}

.title-box-v2 p {
    font-size: 13px
}

.no-space {
    padding: 0
}

.no-space-left {
    padding-left: 0;
    padding-right: 15px!important
}

.no-space-right {
    padding-right: 0;
    padding-left: 15px!important
}

.list-style-v1 li {
    margin-bottom: 7px
}

.list-style-v1 i {
    margin-right: 5px
}

.social-contacts li {
    padding: 5px 0;
    border-top: 1px solid #ddd
}

.social-contacts li:first-child {
    border-top: none
}

.social-contacts li i {
    color: #777;
    font-size: 13px;
    min-width: 13px;
    margin-right: 12px
}

.service-block-v3 {
    padding: 20px
}

.service-block-v3 i {
    color: #fff;
    float: left;
    font-size: 50px;
    margin: 0 20px 20px 0
}

.service-block-v3 .service-heading,
.service-block-v3 .service-in small {
    color: #fff;
    opacity: .8;
    line-height: 1
}

.service-block-v3 .counter,
.service-block-v3 .service-in h4 {
    color: #fff
}

.service-block-v3 .service-heading {
    font-size: 16px
}

.service-block-v3 .counter {
    display: block;
    line-height: 1;
    font-size: 30px
}

.service-block-v3 .progress {
    margin-bottom: 7px
}

.service-block-v3 .service-in small {
    font-size: 16px;
    text-transform: uppercase
}

.service-block-v3 .service-in h4 {
    font-size: 16px;
    line-height: .8;
    margin-bottom: 0
}

.service-block-v3 .statistics .heading-xs {
    color: #fff;
    opacity: .8
}

.service-block-v3 .statistics small {
    color: #fff
}

.share-list li i,
.status-bar li i {
    color: #72c02c;
    margin-right: 5px
}

.service-block-v3 .statistics .progress {
    background: #bbb
}

.service-block-v3 .statistics .progress-bar-light {
    background: #fff
}

.status-bar li {
    padding-left: 9px;
    border-left: 1px solid #eee
}

.status-bar li:first-child {
    border-left: none
}

.status-bar-in {
    padding: 10px;
    position: relative;
    background: #f0f0f0
}

.status-bar-in:after {
    width: 0;
    height: 0;
    top: -10px;
    left: 50px;
    content: " ";
    display: block;
    position: absolute;
    border-bottom: 11px solid #f0f0f0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-left-style: inset;
    border-right-style: inset
}

.table-search-v1 thead,
.table-search-v2 thead {
    border-bottom: solid 1px #ddd
}

.table-search-v1 .btn-u.dropdown-toggle,
.table-search-v2 .btn-u.dropdown-toggle {
    border-left: none
}

.share-list {
    margin-bottom: 0
}

.share-list li {
    padding-left: 20px
}

.share-list li:first-child {
    padding-left: 0
}

.table-search-v1 .btn-group .btn-u {
    top: 4px;
    padding: 0 6px;
    position: relative
}

.table-search-v1 td a {
    color: #555
}

.table-search-v1 td span {
    display: block
}

.table-search-v1 .star-vote {
    margin: 5px 0 0
}

.table-search-v1 .star-vote li {
    padding: 0
}

.table-search-v1 .progress {
    margin-bottom: 0
}

.table-search-v1 .m-marker a {
    font-size: 11px
}

.table-search-v1 .m-marker i {
    float: left;
    min-width: 20px;
    font-size: 26px
}

.table-search-v1 .m-marker .display-b {
    top: 3px;
    display: block;
    line-height: 10px;
    position: relative
}

.table-search-v1 .td-width {
    width: 40%
}

.table-search-v2 .btn-group .btn-u {
    top: 4px;
    padding: 0 6px;
    position: relative
}

.submit-div>a,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    vertical-align: middle;
    padding: 6px
}

.table-search-v2 td img {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    display: block
}

.table-search-v2 .user-names small,
.table-search-v2 .user-names span {
    display: block;
    text-align: center
}

.table-search-v2 .user-names span {
    color: #555;
    font-size: 16px;
    position: relative
}

.table-search-v2 .user-names small {
    color: #999;
    font-size: 13px
}

.table-search-v2 td h3 {
    font-size: 16px;
    margin: 0 0 2px
}

.table-search-v2 .s-icons,
.table-search-v2 td p {
    margin-bottom: 0
}

.table-search-v2 td a {
    color: #555
}

.table-search-v2 td span {
    display: block
}

.table-search-v2 td small {
    font-style: italic
}

.table-search-v2 .s-icons li {
    padding: 2px
}

.table-search-v2 .table-buttons {
    margin: 0
}

.table-search-v2 .table-buttons li {
    padding: 0
}

.table-search-v2 .table-buttons .btn-u-sm {
    padding: 3px 6px
}

.table-search-v2 .td-width {
    width: 55%
}

.people-say img {
    float: left;
    width: 40px;
    height: auto;
    margin: 6px 10px 0 0
}

.people-say .overflow-h span {
    font-weight: 700
}

.people-say .overflow-h p {
    font-style: italic;
    line-height: 1.3
}

.people-say .overflow-h small {
    text-align: right;
    font-style: italic
}

.submit-div,
.testimonials-bs .carousel-arrow {
    text-align: center
}

.page-option-v1 p {
    color: #999;
    font-size: 14px
}

img.img-mouse {
    width: 150px;
    height: auto;
    margin: 0 auto 60px
}

.service-info {
    position: relative;
    padding: 40px 0 50px;
    background: url(../img/patterns/17.png)
}

.service-info i.service-info-icon {
    color: #777;
    float: left;
    width: 50px;
    height: 50px;
    padding: 15px;
    font-size: 20px;
    line-height: 17px;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    border: 1px solid #777
}

.service-info .info-description h3 {
    margin: 0 0 10px
}

.service-info .info-description p {
    color: #777
}

.project-details li {
    color: #555;
    font-weight: 200;
    margin-bottom: 5px
}

.project-details strong {
    min-width: 100px;
    display: inline-block
}

.project-details a {
    text-decoration: underline
}

.testimonials-bs {
    padding: 50px 0;
    background: url(../img/bg/16.jpg) 50% 0 fixed
}

.testimonials-bs .headline-center-v2 span.author {
    color: #777;
    font-size: 14px
}

.testimonials-bs .item {
    margin-bottom: 30px
}

.testimonials-bs .carousel-control-v2 i {
    color: #888;
    width: 30px;
    height: 30px;
    padding: 2px;
    font-size: 22px;
    display: inline-block;
    border: 2px solid #888
}

.testimonials-bs .carousel-control-v2 i:hover {
    color: #72c02c;
    border-color: #72c02c;
    text-decoration: none;
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out
}

.testimonials-bs .carousel-control-v2.left,
.testimonials-bs .carousel-control-v2.right {
    text-decoration: none;
    background-image: none
}

.tab_table .table tbody tr tbody tr:nth-child(2n+1),
.table tbody tr.evenrow {
    background: #fef4f2
}

.team-v1 li>h3 {
    color: #555
}

.child .table {
    margin-left: 1px;
    margin-top: 0
}

.table {
    margin-top: 1px
}

.compare-container h3 {
    border-bottom: 1px solid #585f69;
    line-height: 44px
}

.compare-container .even.clearfix,
.compare-container .odd.clearfix {
    padding: 10px 0
}

.morethanthree {
    display: none
}

.center-block1,
.submit-div>a {
    display: inline-block
}

.tooltip>.tooltip-inner {
    background-color: #E98B39!important;
    color: #fff;
    border: 1px solid #E98B39;
    white-space: normal!important
}

.tooltip.top>.tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #E98B39!important
}

.no-pad-left {
    padding-left: 0
}

input[type=checkbox]:focus,
input[type=file]:focus,
input[type=radio]:focus {
    outline: 0
}

input[type=checkbox],
input[type=radio] {
    height: 10px
}

.change_pwd {
    background: rgba(51, 51, 51, .9);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999
}

.change_pwd .container.content {
    background: #fff;
    border: 5px solid #042e6f;
    border-radius: 5px;
    margin: 100px auto;
    max-width: 600px;
    width: 100%
}

.content.refined {
    padding-top: 10px
}

.center-block1 {
    margin-left: auto;
    margin-right: auto
}

.submit-div {
    width: 100%
}

.add-event-form input {
    margin-top: 0
}

@media screen and (max-width:768px) {
    .associate-content-box .association-img {
        margin-top: 45%
    }
    .associate-content-box>img {
        top: 53px
    }
    .pagination {
        width: 100%;
        text-align: center
    }
    .pagination li {
        display: inline-block
    }
    .facilityp .pull-right {
        float: none!important;
        margin-bottom: 5px
    }
    .compare-container h3 {
        line-height: 30px
    }
}

.form-control:focus {
    box-shadow: none
}

.tp-review input[type=checkbox] {
    float: right
}

input[type=checkbox] {
    height: 15px;
    width: 15px;
    zoom: 1.5;    
}

.tp-rview i.fa {
    height: 43px;
    float: left;
    padding-top: 5px
}

.map {
    height: 300px!important
}

.desktopmenu {
    display: none!important;
    height: auto!important;
    overflow: visible!important;
    padding-bottom: 0
}

.gallery-page p,
.shortlist-heading {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.right-photo-gallery {
    text-align: left;
    margin-top: 15px;
    width: 100%;
    float: left
}

.img_size {
    max-width: 75px;
    float: left;
    margin-right: 10px
}

.reviewing-top {
    border: 1px solid #DBD4D4;
    padding: 15px
}

.reviewing-top ul {
    margin: 0;
    padding: 0
}

.reviewing-top ul li {
    list-style: none;
    cursor: pointer
}

.reviewing-top ul li p {
    margin: 0;
    font-size: 14px
}

.reviewing-top .star-inactive {
    float: right
}

.tital-color {
    font-size: 15px!important;
    color: #e67e22!important
}

.user-icon1 {
    position: relative!important
}

.reviewing-top .star-active {
    display: block
}

.tab-detail-content .contact-tab textarea,
input,
textarea {
    width: 100%;
    border: 1px solid #DBD4D4;
    padding: 10px 15px;
   /* margin: 15px 0;*/
    border-left: 1px solid #dbd4d4;
    border-top: 1px solid #dbd4d4
}

.collapse.in {
    display: block!important
}

.review-img-list {
    margin: 0;
    padding: 0 0 0 15px
}

.review-img-list li {
    list-style-type: disc;
    color: #8a8a8a;
    font-size: 12px
}

.review-by {
    font-size: 13px;
    margin: 0;
    padding-top: 6px
}

.gallery-page p {
    margin-bottom: 5px
}

.select-date input {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    border-top: 1px solid #DBD4D4;
    border-left: 1px solid #DBD4D4
}
/*
.navbar-collapse.collapse {
    display: none!important
}*/

.slider-lightbox {
    border-top: 2px solid #C9CFD8;
    margin: 30px 0;
    padding-top: 15px
}

.tab-section ul.tab-button {
    margin: 0;
    padding: 0
}

.tab-section ul.tab-button li {
    padding: 5px 10px;
    border: 1px solid #C9CFD8;
    background: #fff;
    color: #F15922;
    float: left;
    font-size: 15px;
    text-align: center;
    list-style: none;
    cursor: pointer
}

.tab-section ul.tab-button li:nth-child(1) {
    border-radius: 3px 0 0
}

.tab-section ul.tab-button li:nth-child(3) {
    border-radius: 0 3px 0 0
}

.tab-section ul.tab-button li:nth-child(2),
.tab-section ul.tab-button li:nth-child(3) {
    border-left: 0
}

.tab-detail {
    width: 100%;
    border: 1px solid #C9CFD8;
    padding: 15px;
    margin-top: -1px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-border-radius: 0 3px 3px;
    -webkit-border-radius: 0 3px 3px;
    border-radius: 0 3px 3px
}

.current-button {
    padding-top: 6px!important;
    border-bottom: 0!important
}

#pageData,
.review-content .col-xs-2 {
    padding: 0
}

.review-content .col-xs-2 img {
    width: 100%
}

.tab-detail-content h2 {
    color: #F15922;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
    margin: 0 0 10px;
    font-size: 20px
}

.atcb-item-link,
.headline a {
    font-size: 15px
}

.headline a.pull-right {
    padding-top: 22px
}

.mt-50 {
    margin-top: 50px!important
}

.mt-49 {
    margin-top: 49px!important
}

.mt-30 {
    margin-top: 30px!important
}

.mt-28 {
    margin-top: 28px!important
}

.mt-15 {
    margin-top: 15px!important
}

.map-location {
    text-align: left;
    padding: 0 0 15px
}

.tab-address p {
    line-height: 35px
}

.tab-address .col-sm-4 {
    padding-left: 0
}

.tab-address .col-sm-8 {
    padding-right: 0
}

.headline {
    margin: 10px 0 15px
}

.shortlist-heading {
    display: block;
    position: relative
}

.add-review br,
.footer-slider .bx-controls-direction {
    display: none
}

.add-to-shortlist {
    margin-top: -20px
}

.search-tool {
    border: 1px solid #ccc;
    float: left;
    width: 100%;
    padding: 15px 0
}

.review-content {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    border-bottom: 1px dotted gray
}

.blog-content:nth-child(even) .associate-content-box .col-xs-3,
.img-right .col-xs-3,
div.associate-content-box:nth-child(even) .col-xs-3 {
    float: right
}

a.pull-right {
    cursor: pointer;
    font-size: 16px
}

.footer-slider {
    padding: 10px 0
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    width: 100%
}

.facilities-list {
    margin: 0;
    padding: 0
}

.facilities-list li {
    list-style: none;
    padding: 15px 0;
    position: relative
}

.facilities-list li a {
    padding: 0 0 23px 70px;
    line-height: 22px;
    display: block;
    position: relative;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s
}

.facilities-list li a i,
span.prcnt-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    background: #e5e5e5;
    left: 0;
    top: 0;
    color: #999;
    padding: 18px;
    font-size: 24px;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s
}

.img-rtng li {
    border-bottom: 1px dotted #ccc
}

span.prcnt-icon {
    background: #B5B1B1;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 19px 0 0
}

.home-facility li a span.prcnt-icon {
    background: #e5e5e5!important;
    color: #9E9C9C
}

span.prcnt-icon:hover {
    transform: scale(.9);
    -moz-transform: scale(.9);
    -webkit-transform: scale(.9);
    -o-transform: scale(.9);
    -ms-transform: scale(.9)
}

.facilities-list li .star-inactive {
    display: block
}

.next-days,
.review_print {
    display: none
}

.home-facility .star-inactive {
    margin: 2px 0 0
}

.input {
    border-radius: none
}

.association-section {
    border: 1px solid #e3e3e3;
    padding: 15px 0;
    margin: 0 0 30px
}

.associate-content-box {
    position: relative;
    padding: 15px
}

.blog-content .associate-content-box {
    border: 0!important;
    margin-bottom: 0;
    padding: 15px 0
}

.blog-content .associate-content-box:after {
    border: 0!important
}

.associate-content-box:after {
    content: " ";
    position: absolute;
    width: 80%;
    border: 1px dashed #E69A61;
    left: 10%;
    bottom: 0
}

.association-img img {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, .57);
    padding: 5px
}

.blog-content .association-img img {
    width: 100%;
    max-width: 100%;
    height: auto
}

.association-text h2 {
    padding-bottom: 5px;
    border-bottom: 1px dashed #ccc
}

.association-text p a {
    letter-spacing: 3px;
    text-decoration: underline
}

.rating-prct span {
    color: #999
}

.header .topbar ul.loginbar {
    margin: 0;
    padding: 0
}

.facilities-list img {
    width: 100%
}

.facility-rating {
    position: absolute;
    width: 100%;
    top: 15px;
    background: rgba(255, 255, 255, .8);
    padding: 15px
}

.facility-rating .star-inactive {
    margin-top: 3px
}

.facility-rating span {
    color: #585656
}

.header .topbar ul.loginbar>li>a:hover,
.header .topbar ul.loginbar>li>a:hover i.fa {
    color: #e67e22
}

span.number {
    font-weight: 700;
    background: #F4784B;
    border-radius: 50%;
    color: #fff;
    padding: 0 5px;
    float: left;
    font-size: 10px;
    text-align: center;
    margin-top: 6px;
    margin-right: 3px
}

.see-more {
    float: left!important
}

.shortlist-heading img {
    margin-right: 15px;
    width: auto!important
}

.upcoming-events .event-blog-list-box .event-blog-cont-box {
    padding-top: 80px;
    padding-left: 0
}

.upcoming-events .show-more {
    padding-bottom: 0
}

.print-button {
    float: right
}

.form-print {
    border: 1px solid gray;
    padding: 15px 0
}

.form-print h2 {
    margin: 15px 0
}

.form-logo {
    text-align: center;
    margin: 15px 0 30px
}

.show-more span {
    color: #e67e22;
    text-decoration: underline;
    cursor: pointer
}

.description {
    margin-top: 10px
}

.form-horizontal .control-label {
    padding-top: 2px
}

.rating-prct {
    padding-top: 5px
}

.description-section {
    margin-top: 30px
}

.bottom-logo img {
    height: 100px
}

.form-control {
    margin-bottom: 15px
}

li.drop-down-menu {
    position: relative
}

li.drop-down-menu ul {
    display: none;
    position: absolute;
    top: 68px;
    width: 170px;
    padding: 10px;
    margin-top: 0;
    z-index: 1;
    background: #f0f0f0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .176);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .176);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .176);
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s
}

li.drop-down-menu:hover ul {
    display: block;
    padding-top: 15px
}

li.drop-down-menu ul li {
    list-style: none;
    text-align: left;
    padding: 5px
}

li.drop-down-menu ul li:hover {
    background: #fff
}

li.drop-down-menu ul li a {
    color: #555;
    text-decoration: none
}

.event-blog-list-box.design-2 .event-blog-cont-box-in ul.event-list li:before {
    content: '\f105'!important
}

.event-filter-header-box {
    position: relative;
    margin: 0 0 30px;
    background: #ebebeb;
    padding: 15px 15px 0;
    width: 100%;
    float: left
}

.review_thumb img {
    max-width: 100%
}

.viewall {
    padding: 10px;
    text-decoration: underline;
    text-align: right
}

.right-date .event-blog-date-box {
    width: 140px!important;
    padding: 0 5px 9px!important;
    line-height: normal
}

.right-date .event-blog-cont-box {
    padding-top: 40px!important
}

.atcb-list {
    left: auto!important;
    right: 0;
    box-shadow: 0 0 6px #ccc;
    padding: 5px!important
}

.atcb-item {
    padding-top: 5px!important;
    padding-bottom: 5px!important
}

ul.atcb-list li.atcb-item:before {
    top: 15px!important
}

.atcb-link img {
    max-width: 25px
}
/*
.navbar {
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s
}

.navbar #logo-header {
    height: 74px;
    width: auto;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s
}

.change-layout .navbar {
    width: 100%;
    top: 0;
    padding: 10px 0;
    background: #F2F5FA
}

.change-layout .navbar ul.nav li a {
    padding: 10px 10px 9px 5px
}

.change-layout .header .navbar .nav>li>.search {
    padding: 10px 0 12px
}

.change-layout .navbar #logo-header {
    height: 40px!important
}

.change-layout .navbar .navbar-brand {
    top: 0!important
}

.change-layout .navbar li.drop-down-menu ul {
    margin-top: -30px
}*/

.change-layout .search-block {
    padding: 100px 0
}

.shortlist-section {
    border-bottom: 2px solid #F17448!important;
    border: 0;
    background: #F9F9F9;
    padding: 25px 0 35px
}

.shortlist-section .associate-content-box {
    padding-bottom: 0;
    margin-bottom: 0
}

.shortlist-section .association-img {
    padding-top: 10px
}

.shortlist-section .associate-content-box:after {
    border: 0
}
/*
.header .navbar-nav>li {
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s
}*/

#loading {
    z-index: 1001;
    -moz-opacity: .8;
    opacity: .7
}

#loading img {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 1002;
    text-align: center;
    overflow: auto
}

.list-buttons,
.show-more,
.upload-logo-img {
    text-align: right
}

.event-blog-container {
    position: relative
}

.event-blog-list-box {
    position: relative;
    padding-bottom: 30px
}

.event-blog-list-box .event-blog-date-box {
    float: left;
    padding: 15px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    width: 120px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #C9CFD8;
    border-right: none;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s
}

.event-blog-list-box.design-2 .event-blog-date-box {
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, .3)
}

.event-blog-list-box .event-blog-date-box .event-blog-date {
    float: left;
    padding: 5px;
    border-bottom: 2px solid #E77E22;
    background: #e5e5e5
}

.event-blog-list-box .event-blog-date-box .event-blog-date p {
    font-size: 30px;
    line-height: 38px;
    margin: 0;
    color: #585f69
}

.event-blog-list-box .event-blog-date-box .event-blog-date-month {
    float: left;
    padding-left: 5px
}

.event-blog-list-box .event-blog-date-box .event-blog-date-month p {
    font-size: 14px;
    margin: 0;
    line-height: 18px;
    padding-top: 12px;
    color: #585f69
}

.event-blog-list-box .event-blog-date-box .event-blog-date-month p span {
    font-size: 12px;
    display: block
}

.event-blog-list-box .event-blog-cont-box {
    padding-left: 120px;
    position: relative;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s
}

.event-blog-list-box .event-blog-cont-box-in {
    position: relative;
    padding: 15px 25px;
    background: #fff;
    float: left;
    width: 100%;
    border: 1px solid #C9CFD8;
    border-radius: 0 3px 3px
}

.event-blog-list-box.design-2 .event-blog-cont-box-in {
    border: none;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, .3)
}

.event-blog-list-box .event-blog-cont-box-in ul.event-list {
    margin: 0;
    padding: 0
}

.event-blog-list-box .event-blog-cont-box-in ul.event-list li {
    list-style: none;
    border-bottom: 1px dashed #ccc;
    position: relative;
    padding-left: 20px
}

.event-blog-list-box.design-2 .event-blog-cont-box-in ul.event-list li {
    padding-left: 20px;
    border-bottom: none;
    cursor: pointer;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s
}

.event-blog-list-box .event-blog-cont-box-in ul.event-list li a {
    padding: 10px 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.event-blog-list-box.design-2 .event-blog-cont-box-in ul.event-list li:hover {
    background: #f5f5f5;
    padding-left: 35px
}

.event-blog-list-box .event-blog-cont-box-in ul.event-list li:last-child {
    border: none
}

.event-blog-list-box .event-blog-cont-box-in ul.event-list li:before {
    content: '\f105';
    position: absolute;
    left: 0;
    top: 9px;
    font-family: FontAwesome;
    font-size: 17px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s
}

.addtocalendar,
.radio-new,
.show-guid {
    position: relative
}

.ac,
.ac:hover,
.hs,
.hs:hover,
.rv,
.rv:hover {
    transition: all .3s ease-in
}

.event-blog-list-box.design-2 .event-blog-cont-box-in ul.event-list li:before {
    left: 0
}

.event-blog-list-box.design-2 .event-blog-cont-box-in ul.event-list li:hover:before {
    left: 15px
}

.event-blog-list-box .event-blog-cont-box-in ul.event-list li p {
    font-size: 16px
}

.event-blog-list-box .event-blog-cont-box-in ul.event-list li p span {
    color: #8a8a8a
}

.event-blog-list-box .event-blog-cont-box-in ul.event-list li button {
    float: right;
    background: 0 0;
    border: none;
    font-size: 20px;
    padding: 10px 0;
    line-height: 0
}

.event-blog-list-box.design-2 .event-blog-cont-box-in ul.event-list li button {
    margin-right: 15px
}

.show-more {
    padding-bottom: 30px
}

.shortlist-result {
    padding: 30px 0;
    border-width: 0 0 2px;
    border-style: solid;
    border-color: #FFF #FFF #CCC;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none
}

.tick-box {
    padding: 0
}

.event-button h3,
.list-buttons {
    padding-top: 23px
}

.tick-box li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    border-bottom: 1px dotted #ccc
}

.tick-box li input[type=radio] {
    width: 20px;
    height: 20px
}

.tick-box li label {
    min-width: 100px
}

.upload-logo-img {
    float: right
}

.upload-logo-img img {
    max-width: 100%
}

.theme_color_inner {
    border-bottom: 2px solid #e67e22;
    margin: 25px 0 -2px;
    display: inline-block;
    padding-bottom: 5px
}

.list-group {
    margin-top: 0!important
}

.blog-headline {
    margin: 30px 0 15px
}

.login-popup {
    display: none;
    z-index: 999
}

.first-login-form input[type=checkbox] {
    float: left;
    margin-right: 15px
}

.first-login-form lebel.remember {
    float: left;
    margin-top: 3px
}

.mr-5 {
    margin-right: 5px
}

.pdl-15 {
    padding-left: 15px
}

.radio-new input[type=radio] {
    width: auto
}

.articles_container {
    padding-top: 30px
}

.Pagination_center {
    text-align: center
}

.show-guid {
    padding-bottom: 15px
}

.show-guid input[type=checkbox] {
    height: auto;
    width: auto;
    zoom: normal
}

.facility-list-btn-box {
    position: relative;
    float: right
}

@media(max-width:992px) {
    li.drop-down-menu ul {
        left: 30%;
        top: 0;
        float: none;
        width: 40%;
        position: relative
    }
    li.drop-down-menu ul li {
        text-align: center
    }
    .facility-list-btn-box {
        position: relative;
        float: left;
        width: 100%;
        padding: 15px 0 0
    }
    .facility-list-btn-box a {
        margin-bottom: 10px!important
    }
}

@media(min-width:992px) {
    .desktopmenu {
        display: block!important;
        height: auto!important;
        overflow: visible!important;
        padding-bottom: 0
    }
}

@media(max-width:624px) {
    .shortlist-heading img {
        float: left
    }
}

@media(max-width:600px) {
    .associate-content-box .col-xs-3,
    .associate-content-box .col-xs-9 {
        width: 100%;
        text-align: center
    }
    .association-img img {
        margin-bottom: 10px
    }
}

@media(max-width:480px) {
    .m-widthfull {
        width: 100%
    }
    .m-hide {
        display: none
    }
    .add-review br {
        display: block
    }
    .add-to-shortlist {
        display: block;
        float: none!important;
        position: relative;
        text-align: right
    }
    .wd-100 {
        width: 100%!important
    }
    .form-print {
        padding: 15px
    }
}

.ac,
.hs,
.rv {
    text-align: center;
    vertical-align: middle
}

@media(max-width:380px) {
    #logo-header,
    .change-layout .navbar #logo-header {
        height: auto!important
    }
    #logo-header {
        width: 100%!important;
        max-width: 200px
    }
}

.ac,
.ac:hover,
.hs,
.hs:hover,
.rv,
.rv:hover {
    height: 28px;
    display: inline-block
}

@media(max-width:307px) {
    .pull-right {
        float: right
    }
    .shortlist-heading img {
        max-width: 109px
    }
}

.hs {
    background: url(../../images/hs.png);
    background-size: 100% 100%;
    width: 35px;
    margin: 4px auto 0
}

.hs:hover {
    background: url(../../images/lhs.png);
    background-size: 100% 100%;
    width: 70px;
    padding: 0
}

.rv {
    background: url(../../images/rv.png);
    background-size: 100% 100%;
    width: 35px;
    margin-left: 4px
}

.ac,
.ac:hover {
    margin: 1px auto 0 4px
}

.rv:hover {
    background: url(../../images/lrv.png);
    background-size: 100% 100%;
    width: 115px;
    padding: 0
}

.ac {
    background: url(../../images/ac.png);
    background-size: 100% 100%;
    width: 35px
}

.ac:hover {
    background: url(../../images/lac.png);
    background-size: 100% 100%;
    width: 70px;
    padding: 0
}

.addtocalendar var {
    display: none
}

.addtocalendar {
    display: inline-block
}

.addtocalendar.cldr-btn {
    margin-left: 10px;
    background: 0 0;
    border: none;
    float: right;
    margin-top: 10px
}

.atcb-link {
    display: block;
    outline: 0!important;
    cursor: pointer
}

.atcb-link:active~ul,
.atcb-link:focus~ul,
.atcb-list:hover {
    visibility: visible
}

.atcb-list {
    visibility: hidden;
    position: absolute;
    top: 100%;
    width: 170px;
    z-index: 900
}

.atcb-item,
.atcb-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff
}

.atcb-item {
    float: none;
    text-align: left
}

.atcb-item-link {
    text-decoration: none;
    outline: 0;
    display: block
}

.atcb-item.hover,
.atcb-item:hover {
    position: relative;
    z-index: 900;
    cursor: pointer;
    text-decoration: none;
    outline: 0
}

.atc-style-blue .atcb-link,
.atc-style-blue .atcb-link:active,
.atc-style-blue .atcb-link:focus,
.atc-style-blue .atcb-link:hover {
    margin: 0;
    padding: 7px 25px;
    color: #fff;
    font-family: "poppins", sans-serif;
    font-size: 14px;
    text-decoration: none;
    outline: 0;
    line-height: 20px;
    vertical-align: middle;
    background: #4281f4;
    box-shadow: 0 0 40px rgba(0, 0, 0, .13) inset;
    border-radius: 4px;
    zoom: 1
}

.atc-style-blue .atcb-list {
    width: 170px;
    border: 1px solid #bababa;
    border-radius: 2px;
    box-shadow: 0 0 5px #AAA
}

.atc-style-blue .atcb-item,
.atc-style-blue .atcb-list {
    background: #fff;
    color: #000
}

.atc-style-blue .atcb-item,
.atc-style-blue .atcb-item-link {
    line-height: 1.3em;
    vertical-align: middle;
    zoom: 1
}

.atc-style-blue .atcb-item-link,
.atc-style-blue .atcb-item-link:active,
.atc-style-blue .atcb-item-link:focus,
.atc-style-blue .atcb-item-link:hover {
    color: #000;
    font-family: "poppins", sans-serif;
    font-size: 14px;
    text-decoration: none;
    outline: 0;
    padding: 5px 15px
}

.atc-style-blue .atcb-item-link:active,
.atc-style-blue .atcb-item-link:focus,
.atc-style-blue .atcb-item-link:hover {
    color: #fff
}

.atc-style-blue .atcb-item.hover,
.atc-style-blue .atcb-item:hover {
    background: #4281f4
}

.page-sidebar-fixed .sidebar,
.top-header-bg {
    position: fixed
}

.sidebar,
.top-header-bg {
    left: 0;
    top: 0;
    width: 100%
}

i.star {
    color: #F15922!important
}

i.fa-star {
    color: #CCC
}

.btn_search_in,
.search_header {
    border-radius: 6px;
    font-family: "poppins", sans-serif;
    font-size: 18px;
    margin-bottom: 8%;
    text-transform: uppercase;
    color: #FFF;
    outline: 0!important;
    font-weight: 700
}

.dashboard_right_col .left_td,
.dashboard_right_col .pull_left_bg form.form_payment label span,
.dashboard_right_col .pull_left_bg form.form_payment label.label_text,
.dashboard_right_col .right_td,
.select_option_1,
.select_option_2,
.sidebar .nav>li>a,
.total_price {
    font-family: "poppins", sans-serif;
}

.review_thumb {
    padding: 11px 6px 0 11px!important
}

.search_header {
    padding-left: 54px;
    padding-right: 54px
}

.btn_search_in {
    background: url(/images/search_header_login_bg.png) repeat-x;
    padding-left: 40px;
    padding-right: 40px
}

.top-header-bg {
    text-align: center;
    background: url(/images/body_bg.jpg) 50% 0 fixed
}

.sidebar {
    background: #f1f1f1;
    bottom: 0;
    padding: 10px 0 50%;
    position: relative;
    z-index: 10
}

.sidebar .nav>li.nav-profile {
    background: #2e3235;
    color: #fff;
    padding: 20px
}

.sidebar .nav>li:after,
.sidebar .nav>li:before,
.sidebar .nav>li>a:after,
.sidebar .nav>li>a:before {
    clear: both;
    content: "";
    display: table
}

.sidebar .nav>li.nav-header {
    color: #6d7983;
    font-size: 11px;
    line-height: 20px;
    margin: 0;
    padding: 10px 20px
}

.sidebar .nav>li.active>a,
.sidebar .nav>li.active>a:focus,
.sidebar .nav>li.active>a:hover {
    background: #f25822;
    color: #fff
}

.sidebar .nav>li.has-sub a i.fa {
    font-size: 25px;
    float: left
}

.sidebar .nav>li.has-sub a span {
    padding-left: 10px
}

.sidebar .nav>li>a {
    color: #4a4949;
    font-size: 15px;
    line-height: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    outline: 0
}

.sidebar .nav>li.has-sub>a:hover {
    background: #f25822!important;
    color: #fff
}

.sidebar .nav>li>a .caret {
    float: right;
    margin-top: 9px
}

.dashboard_right_col {
    margin: 5% 0
}

.dashboard_right_col h2.hedding_h2 {
    color: #f25822;
    font-size: 22px;
    margin: 0;
    padding: 0 0 3%;
    float: left;
    width: 100%
}

.dashboard_right_col h2.hedding_h2 i.fa {
    font-size: 45px;
    float: left
}

.dashboard_right_col h2.hedding_h2 span {
    float: left;
    padding: 1% 0 0 2%
}

.dashboard_right_col .left_td {
    color: #000;
    font-size: 15px
}

.dashboard_right_col .right_td {
    color: #a1a0a6;
    font-size: 15px
}

.dashboard_right_col .pull_left_bg {
    padding: 2% 0 10%;
    border-right: 1px solid #E0DFDF
}

.dashboard_right_col .pull_right_bg {
    padding: 2% 12%
}

.dashboard_right_col .pull_left_bg h3.hedding_h3 {
    margin-bottom: 5px;
    text-align: center;
    color: #555;
    font-size: 18px;
    font-weight: 700
}

.dashboard_right_col .pull_left_bg p.p_text {
    margin-bottom: 0;
    text-align: center;
    color: #555
}

.dashboard_right_col .pull_left_bg form.form_payment label span {
    color: #555;
    font-size: 14px;
    padding-left: 10px
}

.dashboard_right_col .pull_left_bg form.form_payment .row_control {
    margin: 8% 17%;
    text-align: center
}

.dashboard_right_col .pull_left_bg form.form_payment .row_control button.select_option,
.dashboard_right_col .pull_left_bg form.form_payment .row_control select.select_option {
    background: #fafafa;
    border: 1px solid #e9edf0;
    color: #555;
    font-family: "poppins", sans-serif;
    font-size: 14px;
    border-radius: 0;
    box-shadow: none;
    margin: 8px 0;
    height: 45px
}

.input_fild_1,
.input_fild_img_browse {
    background: #fafafa;
    border: 1px solid #eaedef;
    box-shadow: none;
    margin: 8px 0;
    padding: 10px
}

.input_fild_1 {
    height: 45px
}

.nav>li>a:focus,
.nav>li>a:hover {
    background: 0 0
}

.dashboard_right_col .payment_col {
    padding: 15px 0
}

.dashboard_right_col .pull_left_bg h3.payment_h3 {
    font-size: 15px;
    color: #555454;
    padding-top: 10%
}

.dashboard_right_col .pull_left_bg form.payment_col2 {
    padding: 2% 0;
    width: 100%
}

.dashboard_right_col .pull_left_bg form.payment_col2 label.checkbox-inline {
    padding: 0;
    margin: 0
}

.input_fild_2,
.select_option_1,
.select_option_2 {
    background: #fafafa;
    border: 1px solid #eaedef;
    box-shadow: none;
    height: 45px;
    padding: 8px 10px
}

.dashboard_right_col .pull_left_bg form.payment_col2 label.input_radio {
    width: 100%;
    margin-top: 45%
}

.dashboard_right_col .pull_left_bg form.form_payment label.label_text {
    color: #9a9ead;
    font-size: 13px;
    margin-bottom: 0
}

.select_option_1,
.select_option_2 {
    margin: 8px 10px 0 0;
    color: #5f5f61;
    font-size: 14px
}

.select_option_2 {
    width: 150px
}

.input_fild_2 {
    margin: 8px 0;
    width: 140px
}

.total_price {
    text-align: center;
    color: #595959;
    font-size: 20px;
    font-weight: 600;
    padding: 7px;
    margin-right: 20px;
    float: left
}

.btn_pay {
    margin-top: 0
}

.total_bg {
    float: left;
    width: 100%;
    padding: 5% 0 0 30%
}

.star-inactive {
    background-image: url(/images/starbg.png);
    background-repeat: no-repeat;
    background-size: 91px;
    background-position: 0 0;
    display: inline-block;
    height: 20px;
    width: 92px
}

.star-active {
    background: url(/images/starbg.png) 0 -21px no-repeat;
    background-size: 91px;
    height: 20px;
    width: 50%
}

.refined .star-inactive {
    height: 15px;
    margin: 0 10px
}

.padding-right-10 {
    padding-right: 10px
}

.viewall {
    border-radius: 0
}

.shortlist-message {
    text-align: center;
    font-size: 16px;
    max-width: 500px;
    margin: 50px auto;
    width: 100%;
    color: #E67E22;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .22);
    -moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, .22);
    -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, .22);
    -ms-box-shadow: 10px 10px 15px rgba(0, 0, 0, .22);
    -o-box-shadow: 10px 10px 15px rgba(0, 0, 0, .22)
}

#gmap {
    display: none
}

.chechbox_text label span {
    vertical-align: top;
    line-height: 33px
}

.cpi.input-group-addon,
.provider-compair-form .input-group-addon {
    vertical-align: middle
}

.wd-100 {
    width: 100%
}

.pdt-5-rb-15 {
    padding: 5px 15px 15px 0
}

#rememberMe {
    margin-right: 8px
}

.forgot_password {
    text-align: right
}

.right-side-cover {
    float: left;
    width: 100%
}

.analytics-table-box {
    width: 100%;
    min-width: 800px
}

.recordtable {
    float: left
}

.wd-80 {
    width: 80%
}

.visitertable {
    width: 20%;
    float: left
}

.review-list-box {
    position: relative;
    padding: 30px 15px;
    border-bottom: 1px dashed #e5e5e5
}

.google-map .map-infow .star-inactive {
    margin: 0
}

.google-map .map-infow .star-active {
    display: inline-block;
    /*margin-bottom: -6px*/
}

@media (max-width:1199px) {
    .pdt-5-rb-15 {
        padding: 0 15px 15px
    }
    .forgot_password {
        text-align: left
    }
}

@media (max-width:1024px) {
    .analytics-table-responsive {
        overflow-x: auto!important;
        float: left;
        width: 100%
    }
}

@media (max-width:991px) {
    .forgot_password {
        text-align: right
    }
}

@media screen and (max-width:480px) {
    .forgot_password {
        width: 100%;
        text-align: left
    }
}

@media (min-width:768px) {
    .review-img-sm-100 {
        width: 100%
    }
}

.pull-left.container_wrapper {
    padding-left: 0
}

.analytics-table-box .visitertable>thead>tr>th>select {
    display: block;
    margin: 0 auto;
    border: 1px solid #A9A9A9
}

table {
    border-collapse: inherit
}

.col-md-4 {
    float: left
}

@media (max-width:480px) {
    .m-widthfull {
        width: 100%;
        padding: 0;
        margin-bottom: 5px;
        border-bottom: 1px dotted gray
    }
    .padding_none,
    .reads_more.padding_none {
        padding: 0
    }
    .review-content {
        margin-bottom: 5px;
        border-bottom: 0 dotted gray
    }
}

#raised_issue input {
    margin-left: 2%
}

tbody tr td {
    padding: 7px!important
}

.product_logo {
    margin-bottom: 10%
}

.associate-content-box .association-img {
    margin-top: 5%
}

.associate-content-box>img {
    position: absolute;
    left: 35px;
    top: 26px
}

@media only screen and (min-width:600px) and (max-width:767px) {
    .associate-content-box>img {
        top: 98px
    }
}

@media only screen and (min-width:480px) and (max-width:599px) {
    .associate-content-box>img {
        top: 69px
    }
}

@media only screen and (min-width:240px) and (max-width:479px) {
    .associate-content-box>img {
        top: 33px
    }
}

h1.theme_color {
    margin-left: 0
}

@media only screen and (min-width:240px) and (max-width:625px) {
    .registration_container {
        margin-top: 30px
    }
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .associate-content-box .association-img {
        margin-top: 15%
    }
    .associate-content-box>img {
        top: 66px
    }
}

#post_review,
#visited_facility {
    margin-top: 21px
}

.padding-right-10 {
    position: absolute;
    margin-top: 6px;
    left: 15px
}

.list-unstyled li:first-child {
    border-top: 1px dotted gray
}

.list-unstyled li {
    border-bottom: 1px dotted gray;
    padding: 12px 22px;
    transition: all ease-out .5s;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s
}

.list-unstyled li a {
    color: #555
}

.list-unstyled li:hover a,
.list-unstyled li:hover i {
    padding-left: 10px;
    cursor: pointer;
    display: block;
    color: #555;
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s
}

.home-right-banner {
    margin: 25px auto;
    padding: 0;
    text-align: center
}

.home-right-banner a img {
    display: inline;
    width: 100%;
    margin: 0 auto;
    text-align: center
}

.media {
    border-bottom: 1px dotted;
    padding-bottom: 10px
}

.img_post {
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, .58)!important
}

@media screen and (max-width:993px) and (min-width:240px) {
    .img_post {
        width: 30%
    }
}

.view-review-font,
.view-review-font li {
    font-size: 16px
}

.img-size {
    max-width: 55px;
    float: left;
    margin-right: 10px
}

.form-control,
.provider-compair-left h2 {
    margin: 0
}

.a-fontsize,
.a-fontsize a {
    font-size: 14px!important
}

.r-pdrl {
    padding-right: 28px;
    padding-left: 1px
}

.pdlr-15 {
    padding-left: 15px;
    padding-right: 15px
}

.pdtb-0 {
    padding-top: 0!important;
    padding-bottom: 0!important
}

.addthis-smartlayers {
    display: none
}

.top-header-bg {
    z-index: 999
}

.provider-compair-cover {
    position: relative;
    min-height: 400px;
    background: #f5f5f5
}

.provider-compair-left {
    z-index: 99;
    position: absolute;
    top: 0;
    left: -350px;
    width: 300px;
    height: 100%;
    border: 1px solid #ddd;
    border-left: none;
    background: #fff;
    overflow-y: auto;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s
}

.provider-compair-left.in {
    position: absolute;
    left: 0
}

.provider-compair-heading {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 8px 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2)
}

.cpi,
.provider-compair-form {
    padding: 15px;
    position: relative
}

.blue-light-gradient {
    background: #eee
}

.btn i {
    margin-right: 10px
}

.provider-compair-right {
    position: relative;
    background: #ddd;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s
}

#edit-quoteShow {
    margin: 15px 15px 0;
    display: none
}

#edit-quoteShow.active {
    display: block
}

.provider-compair-right.in {
    padding-left: 300px
}

.provider-compair-heading-box {
    background: #f5f5f5;
    float: left;
    width: 100%
}

.provider-compair-update-cover {
    position: relative;
    padding: 15px 0
}

.provider-compair-update-box {
    position: relative;
    width: 240px;
    float: left;
    padding-left: 7px;
    border: 1px solid rgba(204, 204, 204, 0)
}

.provider-compair-update-box .provider-compair-update-list,
.provider-compair-update-box .provider-compair-update-list .provider-footer-list,
.provider-compair-update-box .provider-compair-update-list .provider-heading-list,
.provider-compair-update-box .provider-compair-update-list .provider-main-list,
.provider-compair-update-box .provider-compair-update-list .provider-section-list,
.provider-compair-update-box .provider-compair-update-list .provider-section-list .provider-section-drop-list {
    margin: 0;
    padding: 0;
    line-height: 50px
}

.provider-compair-update-box .provider-compair-update-list .provider-footer-list li,
.provider-compair-update-box .provider-compair-update-list .provider-heading-list li,
.provider-compair-update-box .provider-compair-update-list .provider-main-list li,
.provider-compair-update-box .provider-compair-update-list .provider-section-list .provider-section-drop-list li,
.provider-compair-update-box .provider-compair-update-list .provider-section-list li,
.provider-compair-update-box .provider-compair-update-list li {
    list-style: none;
    padding-left: 10px;
    border-bottom: 1px solid #e3e8d1;
    min-height: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.provider-compair-update-box .provider-compair-update-list .provider-footer-list li .drop,
.provider-compair-update-box .provider-compair-update-list .provider-heading-list li .drop,
.provider-compair-update-box .provider-compair-update-list .provider-main-list li .drop,
.provider-compair-update-box .provider-compair-update-list .provider-section-list .provider-section-drop-list li .drop,
.provider-compair-update-box .provider-compair-update-list .provider-section-list li .drop,
.provider-compair-update-box .provider-compair-update-list li .drop {
    display: block;
    cursor: pointer
}

.provider-compair-update-box .provider-compair-update-list .provider-heading-list li,
.provider-compair-update-box .provider-compair-update-list .provider-section-list .provider-section-drop-list li:last-child,
.provider-compair-update-box .provider-compair-update-list li:last-child {
    border-bottom: none
}

.provider-compair-update-box .provider-compair-update-list .provider-section-list .provider-section-drop-list {
    margin-left: -10px;
    display: none
}

.provider-compair-update-box .provider-compair-update-list li {
    padding: 0
}

.provider-compair-update-box .provider-compair-update-list li i.fa.fa-question-circle {
    float: right;
    width: 40px;
    height: 50px;
    text-align: left;
    line-height: 50px;
    font-size: 16px;
    color: #E98B39;
    transition: all .3s
}

.provider-compair-update-box .provider-compair-update-list li i.fa.fa-question-circle-o:hover {
    float: right;
    width: 40px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    color: #337ab7
}

.provider-compair-update-box .provider-compair-update-list .provider-section-list li i.fa.fa-caret-right {
    float: right;
    line-height: 50px;
    width: 40px;
    text-align: center;
    position: relative;
    z-index: 2
}

.provider-compair-update-box .provider-compair-update-list .provider-section-list li i.fa.fa-caret-right.fa-caret-down:before {
    content: "\f0d7"
}

.provider-compair-update-box .provider-compair-update-list .provider-heading-list li.provider-heading-name {
    height: 56px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal!important;
    display: -webkit-box
}

.provider-slider-cover {
    position: relative;
    overflow: hidden;
    z-index: 1
}

.provider-slider-cover .provider-slider-box {
    white-space: nowrap;
    position: relative;
    font-size: 0;
    transition: all .3s;
    left: 0
}

.provider-compair-update-box.provider-slide {
    padding: 0;
    display: inline-block;
    float: none;
    vertical-align: top;
    width: 157px
}

.provider-compair-update-box-in {
    font-size: 14px;
    float: none;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 0;
    margin: 0;
    background: #fff;
    text-align: center;
    vertical-align: top
}

.provider-compair-update-box.provider-slide.selected .provider-compair-update-box-in {
    border: 1px solid #e1823e
}

.provider-compair-update-box.provider-slide .provider-compair-update-box-in {
    border: 1px solid #3379b7
}

.provider-compair-update-box.provider-slide .provider-compair-update-list .provider-heading-list li,
.provider-compair-update-box.provider-slide .provider-compair-update-list .provider-main-list li,
.provider-compair-update-box.provider-slide .provider-compair-update-list .provider-section-list .provider-section-drop-list li,
.provider-compair-update-box.provider-slide .provider-compair-update-list .provider-section-list li,
.provider-slide.provider-compair-update-box .provider-compair-update-list .provider-footer-list li {
    padding: 5px
}

.provider-compair-update-box.provider-slide .provider-compair-update-list .provider-footer-list li .drop,
.provider-compair-update-box.provider-slide .provider-compair-update-list .provider-heading-list li .drop,
.provider-compair-update-box.provider-slide .provider-compair-update-list .provider-main-list li .drop,
.provider-compair-update-box.provider-slide .provider-compair-update-list .provider-section-list .provider-section-drop-list li .drop,
.provider-compair-update-box.provider-slide .provider-compair-update-list .provider-section-list li .drop,
.provider-compair-update-box.provider-slide .provider-compair-update-list li .drop {
    pointer-events: none
}

.provider-compair-update-box .provider-list-heading .provider-heading-head,
.provider-compair-update-box.provider-slide .provider-list-heading .provider-heading-head {
    background: 0 0;
    position: relative;
    height: 20px;
    line-height: normal;
    min-height: 20px!important;
    cursor: move
}

.provider-compair-update-box.provider-slide .provider-compair-update-list .provider-heading-list li.provider-heading-name {
    white-space: nowrap;
    line-height: normal
}

.provider-compair-update-box.provider-slide .provider-list-heading .provider-heading-head {
    background: #042e6f
}

.provider-compair-update-box.provider-slide.selected .provider-list-heading .provider-heading-head {
    background: #f15922
}

.provider-compair-update-box.provider-slide.selected .provider-list-heading .provider-heading-head:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(51, 121, 183, 0);
    border-top-color: #3379b7;
    border-width: 5px;
    margin-left: -5px
}

.provider-compair-update-box.provider-slide .provider-list-heading .provider-heading-head .move-icon {
    float: right;
    padding-right: 10px
}

.provider-compair-update-box.provider-slide.selected .provider-list-heading .provider-heading-head .move-icon {
    display: none
}

.provider-compair-update-box.provider-slide .provider-list-heading .provider-heading-head .catg {
    display: none;
    color: #fff;
    font-size: 13px
}

.provider-compair-update-box.provider-slide.selected .provider-list-heading .provider-heading-head .catg {
    display: block
}

.provider-compair-update-box .provider-list-heading .provider-heading-logo {
    position: relative;
    height: 85px
}

.provider-compair-update-box.provider-slide .provider-list-heading .provider-heading-logo .logo {
    padding: 10px
}

.provider-compair-update-box.provider-slide .provider-list-heading .provider-heading-logo .logo img {
    max-width: 135px;
    width: 100%;
    height: auto
}

.provider-compair-update-box.provider-slide .provider-list-heading .provider-heading-logo .provider-logo {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -11px auto 0;
    width: 115px;
    height: 45px;
    background-position: center center;
    background-repeat: no-repeat
}

.provider-compair-update-box.provider-slide .provider-list-heading .provider-heading-logo .provider-logo:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05)
}

.provider-compair-update-box.provider-slide[data-providername=provider1] .provider-list-heading .provider-heading-logo .provider-logo {
    width: 126px;
    height: 21px;
    background-image: url(../../images/provider-logo/logo-sovereign.svg)
}

.provider-compair-update-box.provider-slide[data-providername=provider2] .provider-list-heading .provider-heading-logo .provider-logo {
    width: 82px;
    height: 35px;
    background-image: url(../../images/provider-logo/logo-onepath.svg)
}

.provider-compair-update-box.provider-slide[data-providername=provider3] .provider-list-heading .provider-heading-logo .provider-logo {
    width: 39px;
    height: 40px;
    background-image: url(../../images/provider-logo/logo-aia.svg)
}

.provider-compair-update-box.provider-slide[data-providername=provider4] .provider-list-heading .provider-heading-logo .provider-logo {
    width: 115px;
    height: 24px;
    background-image: url(../../images/provider-logo/logo-fidelitylife-v2.svg)
}

.provider-compair-update-box.provider-slide[data-providername=provider5] .provider-list-heading .provider-heading-logo .provider-logo {
    width: 110px;
    height: 41px;
    background-image: url(../../images/provider-logo/logo-asteronlife.svg)
}

.carousel-btn-box {
    position: absolute;
    width: 100%;
    z-index: 99;
    left: 0
}

.carousel-btn-box .carousel-btn-next,
.carousel-btn-box .carousel-btn-prev {
    position: fixed;
    top: 50%
}

.carousel-btn-box .carousel-btn-prev {
    left: auto
}

.carousel-btn-next,
.carousel-btn-prev {
    opacity: 1;
    position: fixed;
    left: 0;
    top: 60%;
    z-index: 99;
    background: rgba(51, 122, 183, .6);
    width: 50px;
    height: 100px;
    margin-top: -50px;
    border-radius: 0 50px 50px 0;
    border: none;
    padding: 0;
    font-size: 25px;
    text-align: center;
    color: #fff;
    transition: all .3s
}

.carousel-btn-next:active,
.carousel-btn-next:focus,
.carousel-btn-prev:active,
.carousel-btn-prev:focus {
    outline: 0;
    box-shadow: none
}

.carousel-btn-next:hover,
.carousel-btn-prev:hover {
    width: 70px
}

.carousel-btn-next {
    right: 0;
    left: auto;
    border-radius: 50px 0 0 50px
}

.carousel-btn-next.in,
.carousel-btn-prev.in {
    opacity: 1;
    left: 0
}

.carousel-btn-next.in {
    left: auto;
    right: 0
}

.m-show {
    display: none
}

.btn-custom {
    margin-left: 11%;
    width: 75%;
    color: #fff;
    background-color: #f15922;
    border-color: #f15922
}

.btn-custom:focus,
.btn-custom:hover {
    color: #fff;
    text-decoration: none;
    background-color: #f46a4b;
    border-color: #f46a4b
}

.google-add-box {
    position: relative;
    width: 100%;
    padding-bottom: 15px;
    max-width: 875px;
    margin: 0 auto
}

.google-add-box img {
    width: 100%
}

body.modal-open {
    overflow: hidden;
    position: fixed
}

.btn-info,
.btn-info.active {
    background-color: #042e6f;
    border-color: #022152
}

.btn-info:hover {
    background-color: #4f5e94;
    border-color: #022152
}

.btn-info:disabled {
    background-color: #042e6f;
    border-color: #022152
}

.btn-danger {
    background-color: #f15922;
    border-color: #d23f0a
}

.btn-danger:hover {
    background-color: #ff8c63;
    border-color: #d23f0a
}

.btn-danger:disabled {
    background-color: #f15922;
    border-color: #d23f0a
}

@media (max-width:767px) {
    .m-hide {
        display: none
    }
    .m-show {
        display: block
    }
    .provider-compair-left.in {
        position: fixed;
        width: 100%;
        z-index: 99;
        top: auto
    }
    .provider-compair-right.in {
        padding-left: 0
    }
    .carousel-btn-next,
    .carousel-btn-prev,
    .provider-compair-update-box {
        display: none
    }
    .provider-slider-cover .provider-slider-box {
        white-space: normal
    }
    .provider-compair-update-box.provider-slide {
        width: 100%!important;
        display: block;
        padding: 0 15px 15px
    }
    .provider-compair-update-box .provider-compair-update-list li .provider-heading-logo {
        width: 50%;
        float: left;
        border-right: 1px solid #ccc;
        margin-top: 15px
    }
    .m-pvd-heading-full {
        width: 100%
    }
    .m-pvd-cont,
    .m-pvd-heading {
        text-align: center;
        width: 50%;
        float: left;
        font-weight: 700
    }
    .m-pvd-cont {
        font-weight: 400
    }
    .provider-compair-update-box.provider-slide .provider-compair-update-list .provider-footer-list li .drop,
    .provider-compair-update-box.provider-slide .provider-compair-update-list .provider-heading-list li .drop,
    .provider-compair-update-box.provider-slide .provider-compair-update-list .provider-main-list li .drop,
    .provider-compair-update-box.provider-slide .provider-compair-update-list .provider-section-list .provider-section-drop-list li .drop,
    .provider-compair-update-box.provider-slide .provider-compair-update-list .provider-section-list li .drop,
    .provider-compair-update-box.provider-slide .provider-compair-update-list li .drop {
        pointer-events: painted
    }
}

#loading,
.bokeh {
    position: relative
}

@media (max-width:480px) {
    .provider-compair-update-box .provider-compair-update-list li div {
        margin-top: 0!important
    }
    .provider-compair-update-box .provider-compair-update-list .provider-footer-list li,
    .provider-compair-update-box .provider-compair-update-list .provider-heading-list li,
    .provider-compair-update-box .provider-compair-update-list .provider-main-list li,
    .provider-compair-update-box .provider-compair-update-list .provider-section-list .provider-section-drop-list li,
    .provider-compair-update-box .provider-compair-update-list .provider-section-list li {
        white-space: normal;
        text-overflow: initial;
        padding: 5px!important;
        line-height: 25px
    }
    .associate-content-box {
	    position: relative;
	    padding: 0px;
	}
	.associate-content-box:after {
	    content: " ";
	    position: absolute;
	    width: 80%;
	    border: 0px;
	    left: 10%;
	    bottom: 0
	}
	.association-section {	   
	    padding: 8px 0;
	    margin: 0px 0 25px;
	}
}

#loading {
    background: url(img/page-bg.png) #fff;
    height: 510px;
    left: 0;
    margin: auto;
    top: 0;
    width: 100%
}

.bokeh {
    border: .01em solid #eee;
    border-radius: 50%;
    font-size: 100px;
    height: 1em;
    list-style: none;
    margin: 0 auto;
    top: 35%;
    width: 1em;
    z-index: 2147483647
}

.bokeh li {
    border-radius: 50%;
    height: .2em;
    position: absolute;
    width: .2em
}

.bokeh li:nth-child(1) {
    animation: 1.13s linear 0 normal none infinite running rota, 3.67s ease-in-out 0 alternate none infinite running opa;
    background: #00c176;
    left: 50%;
    margin: 0 0 0 -.1em;
    top: 0;
    transform-origin: 50% 250% 0
}

.bokeh li:nth-child(2) {
    animation: 1.86s linear 0 normal none infinite running rota, 4.29s ease-in-out 0 alternate none infinite running opa;
    background: #ff003c;
    margin: -.1em 0 0;
    right: 0;
    top: 50%;
    transform-origin: -150% 50% 0
}

.bokeh li:nth-child(3) {
    animation: 1.45s linear 0 normal none infinite running rota, 5.12s ease-in-out 0 alternate none infinite running opa;
    background: #fabe28;
    bottom: 0;
    left: 50%;
    margin: 0 0 0 -.1em;
    transform-origin: 50% -150% 0
}

.bokeh li:nth-child(4) {
    animation: 1.72s linear 0 normal none infinite running rota, 5.25s ease-in-out 0 alternate none infinite running opa;
    background: #88c100;
    margin: -.1em 0 0;
    top: 50%;
    transform-origin: 250% 50% 0
}

@keyframes opa {
    12% {
        opacity: .8
    }
    19.5% {
        opacity: .88
    }
    37.2% {
        opacity: .64
    }
    40.5% {
        opacity: .52
    }
    52.7% {
        opacity: .69
    }
    60.2% {
        opacity: .6
    }
    66.6% {
        opacity: .52
    }
    70% {
        opacity: .63
    }
    79.9% {
        opacity: .6
    }
    84.2% {
        opacity: .75
    }
    91% {
        opacity: .87
    }
}

@keyframes rota {
    100% {
        transform: rotate(360deg)
    }
}

a.button.standard {
    border: 1px solid #cdcdcd;
    background-color: #fff;
    font-size: .85em;
    padding: 10px 18px;
    color: #343434;
    cursor: pointer;
    display: inline-block;
    width: 70%;
    min-width: 120px;
    border-radius: 3px;
    text-decoration: none!important
}

a.button.standard>i {
    font-size: 1.3em;
    color: grey;
    padding-right: 10px;
    vertical-align: middle;
    display: inline-block
}

#hide_no {
    background-color: #cdcdcd;
    border-color: #cdcdcd;
    color: #343434
}

.action.action-show-number .numbers-container {
    float: left;
    clear: left;
    min-width: 70%;
    width: auto;
    border-radius: 3px;
    margin-top: 10px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .2);
    background-color: #fff;
    white-space: nowrap;
    z-index: 1;
    display: none;
    text-align: center
}

.action.action-show-number {
    margin-bottom: 30px
}
.review-container{
    width: 100%;    
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.most-reviewed-icon-size{
    width: 51px !important;
    height: 96px !important;
    display: inline-block;
    margin: 5px;
}

.most-reviewed-top5a{
    background: url(../../admin/files/badges/5-most-reviewed.png);
    background-size: 100% 100%;    
}
.most-reviewed-top10a{
    background: url(../../admin/files/badges/10-most-reviewed.png);
    background-size: 100% 100%;
}
.most-reviewed-top25a{
    background: url(../../admin/files/badges/25-most-reviewed.png);
    background-size: 100% 100%;
}
.most-reviewed-top50a{
    background: url(../../admin/files/badges/50-most-reviewed.png);
    background-size: 100% 100%;
}

.response-time-one{
    background: url(../../admin/files/badges/day1.png);
    background-size: 100% 100%;
}
.response-time-two{
    background: url(../../admin/files/badges/day2.png);
    background-size: 100% 100%;
}
.response-time-three{
    background: url(../../admin/files/badges/day3.png);
    background-size: 100% 100%;
}
.response-time-four{
    background: url(../../admin/files/badges/day4.png);
    background-size: 100% 100%;
}
.response-time-five{
    background: url(../../admin/files/badges/day5.png);
    background-size: 100% 100%;
}


.response-time1{
    background: url(../../admin/files/badges/response-time.png);
    background-size: 100% 100%;
}


.response-time-one1{
    background: url(../../admin/files/badges/day1.png);
    background-size: 100% 100%;
}
.response-time-two1{
    background: url(../../admin/files/badges/day2.png);
    background-size: 100% 100%;
}
.response-time-three1{
    background: url(../../admin/files/badges/day3.png);
    background-size: 100% 100%;
}
.response-time-four1{
    background: url(../../admin/files/badges/day4.png);
    background-size: 100% 100%;
}
.response-time-five1{
    background: url(../../admin/files/badges/day5.png);
    background-size: 100% 100%;
}

.nottrusted-responder1 {
    background: url(../../admin/files/badges/poor-responder.png);
    background-size: 100% 100%;
}

.review-unfriendly1 {
    background: url(../../admin/files/badges/review-unfriendly.png);
    background-size: 100% 100%;
}

.margin-left-right{
    margin:0px 10px;
}
.posts a {
    color: #fff !important;
}
.posts a:hover {
    color: #000 !important;
}

.pull-right {
    float: right!important;
}