body{
    font-family: 'Montserrat', sans-serif;
      line-height: 1.8;
      font-size: 16px;
      overflow-x: hidden;
  }
  a,a:hover{ color: #6900EB;}
   p{
    margin:0px; 
  }
  ul{
  padding:0px;
  margin:0px;      
  }
  img{
  max-width:100%;     
  }
  
  /****header css*****/
  header {
      width: 100%;
      padding:0px;
      transition: all 0.5s;
  }
  /*.header_fixed {
      background:#000;
      position: fixed;
      top: 0px;
      border: 0px;
      box-shadow: 0px 6px 9px #1d191963;
  }*/
  .header_fixed .logo{
  width:50px;     
  }
  .header_wrap .row{
   align-items:center;     
  }
  .header_fixed .navication_wrap ul li{
    padding: 14px 15px;
  }
  .header_fixed .navication_wrap ul li a{
   font-size:14px; 
  }
  
  .logo{ 
  margin:6px 0; 
  transition:0.3s;    
  }
  
  .logo a{
   display:inline-block;     
  }
  .btn.focus, .btn:focus{
   box-shadow:0 0 0;     
  }
  .right_nav_holder{
   display:flex;
   align-items:center;
   justify-content:flex-end;  
  }
  
  
  .navication_wrap ul li {
      display: inline-block;
      list-style: none;
      padding: 23px 15px;
     /* border-top:3px solid rgba(255,255,255,0.0); */
      transition:0.3s; 
  }
  /*.navication_wrap ul li:hover{
  border-color:#f6623f;     
  }*/
  .navication_wrap ul li a{
   color:#555;
   font-size:16px;
   text-decoration:none; 
   text-transform:capitalize;
   transition:0.3s;
   font-weight:400;       
  }
  .navication_wrap ul li a:hover{
   color:#e95a26; 
  }
  
  .navication_wrap{
   text-align:right;    
  }
  
  .wishlist_wrap{
   color:#f15922;
   font-size:18px;
   position:relative; 
   cursor:pointer;    
  }
  
  .wishlist_wrap em {
      position: absolute;
      top: -7px;
      font-style: normal;
      background: #367eb1;
      color: #fff;
      font-size: 10px;
      font-weight: 500;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      left:13px;
  }
  
  span.header_search {
      display: inline-block;
      margin: 0 15px;
      font-size: 16px;
      color:#4b4b4b; 
      cursor:pointer; 
  }
  .button_wrap, .button_wrap:hover {
      background: linear-gradient(120deg, #f77a4d 0%, #e95a26 100%);
      display: inline-block;
      padding: 8px 26px;
      color: #fff;
      font-size:14px;
      margin: 0 0px;
      text-decoration: none;
      border-radius: 5px;
      font-weight:500;
      transition:0.3s; 
  }
  
  .button_wrap:hover{
   box-shadow:0 0 10px #868282;    
  }
  /*
  
  .menu_icon span {
      display: block;
      height: 1.5px;
      width: 80%;
      border:1px solid #fff; 
      margin: 3px 0;
      text-align: right;
      float: right;
      transition:0.2s; 
      background:#fff; 
  }
  .menu_icon span:nth-child(2){
  width:100%;     
  }
  .menu_icon{
  width: 24px;
  float: right;
  cursor:pointer;    
  }
  .menu_icon:hover span{
  width:100%;     
  }*/
  /****slider css*****/
  
  
  
  @media all and (-ms-high-contrast:none){
   .pop_category_overlay{
    position:relative;    
   }
   .pop_category_overlay a{
    position:absolute;
    bottom:3px;  
    width:100%;
    left:0px;  
   }
  }
      
  .main_pege_slider{
   position:relative;
   z-index:1;      
  }
  .slider_overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      background: rgba(0,0,0,0.3);
      z-index: 2;
      height: 100%;
  }
  .main_pege_slider .item {
      background-position: top center !important;
      background-size: 100% !important;
      background-repeat: no-repeat !important;
  }
  .main_pege_slider .item img{
   width:100%;
   height:100%;     
  }
  .main_pege_slider .item{
  height:80vh;  
  margin:0px;     
  }
  .main_pege_slider .slider_text {
      text-align: center;
      padding: 20% 10px;
      position: relative;
      z-index: 55555;
      color: #fff;
     /* background: rgba(0,0,0,0.5);*/
      height:100vh; 
  }
  
  .main_pege_slider .owl-dots{
      position: absolute;
      bottom:8px;
      width: 100%;
      text-align: center;
      padding: 5px;    
  }
  .owl-theme .owl-dots .owl-dot span {
      width:10px;
      height:10px;
      border-radius:50%; 
      margin: 3px 4px;
      background:rgba(255,255,255,0.3);
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity .2s ease;
      outline:none !important;
      box-shadow: 0 0 0 !important;   
  }
  .owl-theme .owl-dots .owl-dot:focus{
      outline:none !important;
      box-shadow: 0 0 0 !important;
  }
  
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background:#e95a26;
  }
  /***********middle section css***********/
  .content_section_wrap{
       position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: center;   
  } 
  .slider_content_inner h1 {
      font-size: 50px;
      font-weight:700;
      color: #fff;
      margin:0px;
  }
  
  
  .slider_search{
      padding: 0;
      width: 60%;
      margin:45px auto 0;
      display: flex;
      align-items: center;
      background:rgba(255,255,255,0.8);
      border-radius:10px; 
      box-shadow: 0 3px 10px #7f7f7f;
  }
  .slider_search form{
   width:100%; 
   display:flex;     
  }
  
  .slider_search input{
   width:100%; 
   border:0px;
   padding:20px;
   border-radius:10px; 
   outline:none;
   box-shadow:0 0 0; 
   background:none; 
   font-size:14px; 
    color:#494949;
  }
  .slider_search input::-webkit-input-placeholder { /* Edge */
    color:#494949;
  }
  
  .slider_search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#494949;
  }
  
  .slider_search input::placeholder {
    color:#494949;
  }
  
  .slider_search button {
      margin:11px;
      background: linear-gradient(120deg, #f77a4d 0%, #e95a26 100%);
      display: inline-block;
      padding:7px 56px;
      color: #fff;
      font-size:14px;
      text-decoration: none;
      border-radius: 10px;
      font-weight: 500;
      cursor: pointer;
      border: 0px;
      outline: none;
      box-shadow: 0 0 0;
      transition:0.3s; 
  }
  .slider_search button:hover{
   box-shadow:0 0 10px #868282; 
  } 
  
  
  .middle_content_wrap {
      padding: 50px 0 0;
  }
  .heading_icon{
      display: flex;
      margin: 0 auto;
      border: 2px solid #f7805e;
      padding: 0 9px;
      border-radius: 50%;
      width: 65px;
      height: 65px;
      align-items: center;
      justify-content: center;    
  }
  .heading_icon img{
  max-width:80%;    
  }
  .row .col{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 19.666667%;
      flex: 0 0 19.666667%;
      max-width:19.666667%;
      padding-right:0px;     
  }
  .pop_category_wrap{
   background-size:cover;
   background-position:top center; 
   border-radius:5px;
   margin-bottom:15px;      
  }
  
  .pop_category_overlay{
       padding: 0px 5px;
      min-height: 88px;
      display: flex;
      align-items: flex-end;
         background: linear-gradient(120deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 100%);
      border-radius:5px;  
       transition: all 0.5s ease;
      cursor:pointer; 
  }
  .pop_category_overlay:hover{    
   background: linear-gradient(120deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.8) 100%);   
  }
  
  .pop_category_overlay h3{
   color:#fff;
   font-size:17px;
   text-transform:uppercase;
   font-weight:500;
   margin:5px 0 10px;
   text-align:center;
   width:100%;       
  }
  
  .inner_section_heading{
   font-size:24px;
   font-weight:700;
   color:#484848;
   margin:0 0 25px 0;       
  }
  .pop_category_overlay a{
   width:100%;
   text-decoration:none;
   display:block;     
  }
  .regions_inner_wrap .pop_category_overlay{
   min-height:300px;    
  }
  .regions_inner_wrap .pop_category_overlay h3{
   text-transform:capitalize;
   font-size:19px;
   margin:0px;       
  }
  
  .regions_inner_wrap .pop_category_overlay p {
      color: #fff;
      font-size: 15px;
      margin: 0 0 8px 0;
      text-align: center;
      font-weight: 400;
  }
  .about_company_wrap_inner{
   background:#f8f7f6;
   padding:20px;      
  }
  
  .about_company_wrap_inner .row{
    flex-direction: row-reverse; 
    align-items:center;   
  }
  .about_text img{
   width:150px;     
  }
  .about_text p{
   font-size:14px;
   color:#000000;
   margin:12px 0;
   line-height:26px;        
  }
  .about_text a{
   display:flex;
   align-items:center;
   font-size:14px;
   color:#f15922;
   text-decoration:none;         
  }
  .about_text a i{
    margin-left:5px; 
    font-size:14px;    
  }
  .about_img{
   border-radius:5px;     
  }
  .about_img img{
   border-radius:5px;
   width:100%;     
  }
  
  .video_img {
      position: relative;
      border-radius: 3px;
      overflow: hidden;
      height: 150px;
      margin-bottom: 20px;
  }
  
  
  .video_img img{
  width:100%;
  height:150px; 
  border-radius:3px;      
  } 
  .video_img .play_icon {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 55;
      width: 100%;
      height: 150px;
      color: #fff;
  }
  
  .video_img .play_icon a {
      display: inline-block;
      background: #f15921;
      padding: 3px 18px;
      border-radius: 10px;
      font-size: 18px;
      cursor: pointer;
  }
  .video_slide_content h3 {
      font-size: 19px;
      font-weight: 500;
      margin: 0 0 6px;
  }
  .video_slide_content ul {
      padding: 0px;
  }
  .video_slide_content ul li {
      float: left;
      font-size: 13px;
      margin: 0 9px 0 0;
      width: auto;
      list-style: none;
      color: #484848;
      display: flex;
      align-items: center;
      line-height:20px; 
  }
  
  .video_slide_content ul li i {
      font-size: 8px;
      margin-right:5px; 
  }
  .video_slide_content ul li a, .video_slide_content ul li a:hover{
   text-decoration:underline;
   font-size:12px;
   color:#ed8a19;       
  }
  .video_location_wrap{
  padding:14px 0 10px;     
  }
  .video_location_wrap a {
      display: flex;
      align-items:center; 
      cursor:pointer;
      text-decoration:none; 
      font-size:14px;
      color:#484848;   
  }
  .video_location_wrap a img{
        width:16px !important;
      height:21px !important;  
      margin-right:5px; 
  }
  .video_review {
      display: flex;
      align-items: center;
  }
  .review_count{
   display:inline-block;
   margin-left:7px;
   font-size:14px;
   color:#767676;       
  }
  .video_review span i{
   color:#ed8919;  
   font-size:14px;    
  }
  .video_review span i.fas.fa-star.gray{
    color:#d9d9d9;   
  }
  .top_rated_wrap .video_slide_content h3{
   font-size:16px;     
  }
  
  .top_rated_wrap .inner_section_heading{
   margin-bottom:0px;     
  }
  .inner_section_subheading{
   font-size:14px;
   color:#484848;
   margin:5px 0 15px 0;      
  }
  .top_rated_wrap .video_img{
   height:185px;     
  }
  .top_rated_wrap .video_img img{
   height:185px;    
  }
  .top_rated_wrap .video_img .play_icon{
   height:auto;
   justify-content:flex-end;
   align-items:flex-end;      
  }
  .top_rated_wrap  .video_img .play_icon a{
   border-radius:50%;
   background:rgba(2552,255,255,0.8);
   height:40px;
   width:40px; 
   display:flex;
   align-items:center;
   justify-content:center;
   color:#f15921;   
   margin:5px;        
  }
  .top_rated_wrap .video_review{
   padding:7px 0;     
  }
  .top_rated_wrap .video_location_wrap{
   margin:0px;
   padding:0px;      
  }
  .compare_pricing_inner_wrap{
   background-image:url(../img/view_bg.jpg);
   background-attachment:fixed;
   padding:100px 0;
   align-items:center;
   justify-content: center;
   display:flex;
   background-position:top center; 
   border-radius:5px; 
   background-size:cover;            
  }
  
  .compare_pricing_inner_wrap a{
      background: linear-gradient(120deg, #f77a4d 0%, #e95a26 100%);
      display: inline-block;
      padding: 12px 50px;
      color: #fff;
      font-size:14px;
      text-decoration: none;
      border-radius: 10px;
      font-weight: 500;
      cursor: pointer;
      border: 0px;
      outline: none;
      box-shadow: 0 0 0;
      display:flex;
      align-items:center;  
      transition:0.3s;    
  }
  
  
  .compare_pricing_inner_wrap a:hover{
   box-shadow:0 0 10px #868282; 
  }
  
  .compare_pricing_inner_wrap a i{
   margin-left:5px;     
  }
  .reviews_slide_wrap {
      margin: 10px 10px;
      box-shadow: 0px 0px 20px 0px #e4dbdb;
      padding: 13px;
  }
  
  
  .video_img.reviews_slide_img{
   height:auto;
   display:flex;
   align-items:center;       
  }
  .reviews_left_img{
   width:50%;     
  }
  .reviews_left_img img{
   height:110px; 
  }
  
  .review_right_text {
      width: 50%;
      padding: 0 12px;
  }
  .review_right_text p{
      font-size: 14px;
      color: #484848;
      line-height:18px; 
  }
  
  .review_right_text .video_location_wrap {
      padding: 3px 0 5px;
  }
  
  .reviews_slide_wrap .video_slide_content p {
      font-style: italic;
      font-size: 14px;
      color: #484848;
      padding: 0px 25px;
      text-align: center;
      line-height:22px; 
  }
  
  .left_quote{
       position: absolute;
      color: #555;
      font-size: 20px;
      top: -10px;
      font-size:18px; 
  }
  
  .right_quote{
       position: absolute;
      color: #555;
      font-size: 20px;
      bottom: 10px;
      right:0px; 
      font-size:18px;
  }
  
  .reviews_slide_wrap .video_slide_content{
   position:relative; 
   padding-bottom:20px;    
  }
  .latest_reviews_wrap .inner_section_heading{
       margin: 0 0 12px 0;   
  }
  .download_review_wrap{
    background-image: url(../img/download_bg.jpg);
      background-attachment: fixed;  
  }
  .popular_posts_wrap .inner_section_heading{
       margin: 0 0 25px 0;   
  }
  
  .popular_posts_wrap .video_img {
      height: 220px;
  }
  .popular_posts_wrap .video_img img{
   height:220px;    
  }
  
  .popular_posts_wrap .video_slide_content h3{
   font-size:19px;     
  }
  
  
  .popular_posts_wrap .video_slide_content p {
      font-size: 14px;
      color: #272727;
      line-height:22px; 
  }
  
  .logos_slider_wrap{
   background:#fafafa;
   padding:20px 0; 
   margin:25px 0;     
  }
  
  .logos_inner_wrap {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .logo_img_repeat:first-child{
   border:0px;     
  }
  .logo_img_repeat {
      width: 135px;
      border-left: 1px solid #ddd;
      padding: 0 14px;
      line-height: 0;
  }
  .user_name_wrap h4 {
      font-size: 17px;
      text-align: center;
      margin: 8px 0;
      color: #484848;
  }
  .logos_inner_wrap li{
  list-style:none; 
  width: 135px;
      border-left: 1px solid #ddd;
      padding: 0 14px;
      line-height: 0;    
  }
  .logos_inner_wrap li:first-child{
   border:0px;     
  }
  /********footer css**********/
  footer {
      padding: 35px 0 0;
      background: #fff;
  }
  
  .repeat_footer_wrap h3{
   font-size:15px;
   color:#484848;
   margin:0 0 17px;
   font-weight:600;       
  }
  .repeat_footer_wrap ul{
  list-style:none;     
  }
  .repeat_footer_wrap ul li{
  line-height:15px;
  margin-bottom: 8px;    
  }
    
  .repeat_footer_wrap ul li a{
  font-size:11px;
  color:#767676;
  text-decoration:none;  
  padding:0 5px 0 0;      
  }
  .repeat_footer_wrap ul li a:hover{
   color:#e95a26; 
   text-decoration:underline;    
  }
  
  .repeat_footer_wrap.float_list ul li {
      float: left;
      width: 50%;
      line-height: 15px;
      margin-bottom: 8px;
  }
  
  .repeat_footer_wrap.right_footer p {
      font-size: 11px;
      display: flex;
      margin: 0 0 14px;
      color: #767676;
  }
  
  .repeat_footer_wrap.right_footer p span i {
      width: 19px;
      color: #ea5d2b;
      font-size: 12px;
      margin-top: 4px;
      display:block; 
  }
  .repeat_footer_wrap.right_footer p a{
  color:#767676;
  text-decoration:none;     
  }
  .social_media_icon h3{
   margin:17px 0 10px 0;     
  }
  .social_media_icon a{
   color:#ea5d2b;
   font-size:13px;
   margin:0 5px 0 0;      
  }
  .bottom_footer {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #ddd;
      padding: 10px 0;
      margin-top: 22px;
      font-size:13px;
          flex-direction: row-reverse; 
  }
  .copyright p{
  display:flex;
  align-items:center; 
  color:#767676;  
  }
  
  .copyright p img{
   margin-right:5px;    
  }
  
  .bottom_footer_link a{
   color:#767676; 
   text-decoration:none;    
  }
  .social_media_icon {
      padding-top:10px;
  }