@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

body {
	font: normal 12px 'PT Sans Narrow', sans-serif;
	color: #484848;
	margin: 0;
	padding: 0;
	height: 100%
}
.login_style{font-size:16px; color:#333; font-family: 'PT Sans Narrow', sans-serif;}
h1 {
	font-size: 25px;
        font-family: 'PT Sans Narrow', sans-serif;
	color: #333;
	margin: 0px;
	padding: 0px;
        text-transform: uppercase;
}
a {
	color: #000000;
	text-decoration: none;
}
input, textarea, select {
	font: 16px 'PT Sans Narrow', sans-serif;
}
a:hover {
	text-decoration: underline;
}
textarea {
	border: 1px solid #B8B8B8;
	font-size: 11px;
	padding: 1px 0 2px 0;
	margin: 4px 0 4px 0;
}
.input {
	background-color: #FAFBFF;
	border: 0px solid #B8B8B8;
	font-size: 11px;
	padding: 1px 0 2px 0;
}
.textinput {
	border: 1px solid #B8B8B8;
	font-size: 11px;
	padding: 1px;
	color: #484848
}
.head {
	background: url(../img/head_gr.gif) repeat-x left top;
}
.lt_nav {
	background: url(../img/ver_gr.gif) repeat-x;
	border-right: 1px solid #000000;
}
.nav {
	background-color: #4B99E6
}
.nav a {
	padding: 5px 0 5px 17px;
	display: block;
	color: #FAFAFD;
	text-decoration: none !important;
	background: url(../img/sublink.gif) no-repeat 8px 10px;
	list-style: none;
	border-bottom: 1px solid #539FE8;
        
}
.nav a {
	padding: 5px 0 5px 17px;
	display: block;
	text-decoration: none !important;
	;
	color: #FAFAFD;
	background: url(../img/sublink.gif) no-repeat 8px 10px;
	list-style: none;
	border-top: 1px solid #0453A1
}
.nav a:hover {
	background-color: #76C4F3;
	color: #000
}
.nav2 {
	background:#2567D6;
	
}
.idts_button {
			background:transparent url(../img/submit.gif) no-repeat scroll 0 0;
			border:0 none;
			height:24px;
			width:51px;
			}
.nav2 a {
	padding: 5px 0 5px 17px;
	display: block;
	color: #000000;
	text-decoration: none !important;
	background: url(../img/bull.gif) no-repeat 10px 10px;
	list-style: none;
	border-bottom: 1px solid #2567D6;
	
}
.nav2 a {
	padding: 5px 0 5px 17px;
	display: block;
	text-decoration: none !important;
	;
	color: #FFFFFF;
	background: url(../img/bull.gif) no-repeat 8px 10px;
	list-style: none;
	border-top: 1px solid #0453A1
}
.nav2 a:hover {
	background-color: #0707A7;
	color: #fff
}
.sublinks a {
	text-decoration: none;
	color: #ffffff;
	background-color: #3F86CD;
	margin-right: 1px;
	padding: 4px 8px 4px 8px;
	line-height: 22px;
}
.sublinks a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #539FE8;
	margin-right: 1px;
	padding: 4px 8px 4px 8px;
	line-height: 22px;
}
.button {
	background-color: #3F86CD;
	border: 0px;
	color: #ffffff;
	padding: 2px 10px 1px 10px;
	font-size: 11px;
	cursor: hand;
}
.bgCol {
	background: url(img/login_box_rep.gif) repeat-x;
}
.fs15 {
	font: 20px 'PT Sans Narrow', sans-serif;
	color: #fff
}
.loginBg {
	background: url(img/login_box_bkg.gif) repeat-y;
}
.whtBg {
	background-color: #fff !important
}
.strip {
	background: url(img/strip.gif) repeat-x;
}
.marginleft {
	padding-left: 10px;
}
.r1 {
	background-color: #ECECEC
}
.r1 td {
	border-bottom: 1px solid #F2F2F2;
}
.r2 {
	background-color: #fff
}
.r2 td {
	border-bottom: 1px solid #fff;
}
.redCol {
	color: #ED1B23
}
.fs10 {
	font-size: 10px
}
h2 {
	margin: 0;
	padding: 0;
	font: bold 12px 'PT Sans Narrow', sans-serif;;
	color: #4B99E6
}
.bgBlk {
	background-color: #000
}
.topButtonOff {
	border: #f7f7f7 1px solid;
	width: 70px;
	height: 70px;
	background-color: #f7f7f7;
	text-align: center
}
.topButtonOn {
	border-right: #eeeeee 1px solid;
	border-top: #bbbbbb 1px solid;
	border-left: #bbbbbb 1px solid;
	width: 70px;
	border-bottom: #eeeeee 1px solid;
	height: 70px;
	background-color: #ffffff;
	text-align: center
}
.topMenuItemsDiv {
	filter: Shadow(Color=#909090, Direction=135)
}
.topMenuItems {
	border: #aaaaaa 1px solid;
	background-color: #ffffff
}
.topMenuItemOn {
	padding-left: 2px;
	font-weight: bold;
	font-size: 11px;
	color: white;
	height: 18px;
	background-color: #eeeeee
}
.topMenuItemOff {
	padding-left: 2px;
	font-weight: normal;
	font-size: 11px;
	color: black;
	height: 18px;
	background-color: #ffffff
}
.quickLinkOff {
	padding-left: 0px;
	font-weight: normal;
	font-size: 10px;
	color: black;
	font-family: Arial;
	height: 18px;
	background-color: #ffffff
}
.quickLinkOn {
	padding-left: 0px;
	font-weight: normal;
	font-size: 10px;
	cursor: pointer;
	color: black;
	font-family: Arial;
	height: 18px;
	background-color: #eeeeee
}
.quickLinkActiveOff {
	padding-left: 0px;
	font-weight: normal;
	font-size: 10px;
	cursor: pointer;
	color: white;
	font-family: Arial;
	height: 18px;
	background-color: #5186cd
}
.quickLinkActiveOn {
	padding-left: 0px;
	font-weight: normal;
	font-size: 10px;
	cursor: pointer;
	color: white;
	font-family: Arial;
	height: 18px;
	background-color: #3166ad
}
.darkBrown {
	color: #433757
}
.divClas {
	z-index: 100000;
	visibility: hidden;
	position: absolute;
	left: 284px;
	top: 75px;
}
td {
	font: 11px 'PT Sans Narrow', sans-serif;
}
.pad5 {
	padding: 0 8px 0 8px
}
.blu {
	color: #2567D6
}
.bdrTab {
	border: 1px solid #dadada;
	padding: 10px
}
.selected a {
	background-color: #75B2F0 !important;
	color: #fff !important
}

.ErrorBox
{
     width: 50%;
     border: 1px #000000 solid;
     background: rgb(255,255,153);
     text-align: left;
     padding: 3px;
     float: left;
}
.ErrorHead
{
     font-size: 13px;
     color: rgb(237,0,0);
     font-weight: bold;
}
.ErrorText
{
     padding-left: 12px;
}
.registration{
	float:left;
	width:100%;
	padding:5px 0;
}
.registration a, .registrationForm a{
	float:left;
	color:#94a108;
	padding-right:10px;
}
.registration a:hover, .registrationForm a:hover{
	color:#000;
	text-decoration:none;
}
.registrationForm td{
	padding:3px 5px;
}
.registrationForm td.heading{
	font-weight:bold;
}
.registrationForm td.heading a{
	padding:0;
}
.registrationTextbox{
	width:200px;
	font-size:14px;
	padding:2px;
}

Heading{
	float:left;
	width:100%;
	padding:10px 0;
	font-weight:bold;
}
#body_content{
	float:left;
	width:810px;
	padding:10px;
}
h2 a, h4 a{
	color:#333;
	display:block;
	padding:0 0 5px 0;
	text-decoration:underline;
}
h2 a:hover, h4 a:hover{
	color:#666;
	text-decoration:none;
}
.errorForm {
    background-color: #FAE2E3;
    border: 1px solid #EC9B9B;
    padding: 15px;
}
.successForm {
    background-color: #E4FAE2;
    border: 1px solid #9BEC9E;
    padding: 15px;
}
.norecord{text-align: center;color:#CC0000;font-size:12px;}
.error{color:#CC0000;}
    